openapi: 3.2.0
info:
  title: Cobot External Resource API
  termsOfService: https://www.cobot.me/terms
  x-logo:
    url: /api2_logo.webp
    backgroundColor: '#FFFFFF'
    altText: Cobot logo
  description: "This is the 2.0 version of the Cobot API. You can find version 1.0\nas well as various tutorials under [/api-docs](/api-docs).\n\n## JSON API\n\nThis API follows the [JSON API](http://jsonapi.org) standard. This means:\n\n* requests and responses are sent in JSON\n* all requests MUST send a `Accept: application/vnd.api+json` header\n* non-GET requests MUST send a `Content-Type: application/vnd.api+json` header\n* all responses send a `Content-Type: application/vnd.api+json` header\n* all JSON formats are standardized (requests, responses, errors)\n\n## Cross-Origin Resource Sharing (CORS)\n\nAll endpoints send [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)\nheaders so that the API can be used from within browsers.\n\n## Rate Limiting\n\nIn general, the rate limit for an endpoint is 60 requests per minute per user.\nIf applicable, alternative limits are given in the documentation for\nparticular endpoints.\n\nIf you've exceeded the limit, Cobot will return a 429 status code and a JSON\nerror message. The response will also contain a *Retry-After* header, this\ndenotes the number of seconds to wait before your client may retry.\n\n## Times and Dates\n\nTimes and Dates must be in ISO 8601 formats. e.g. date: `2021-01-07`, datetime: `2021-01-07T16:25:51Z`,  time: `16:25:51`.\nMillisecond are ommited, so `16:25:51.811` will become `16:25:51`.\nTime zone offsets must be provided by the client, e.g. `16:25:51+02:00` or '16:25:51Z' for UTC.\n\nTimes are always returned in UTC.\n## Sparse Fieldsets\n\nThis API supports [sparse fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets),\nso clients can request which attributes they are interested in.\n\nExample:\n```\nGET https://api.cobot.me/user?fields[users]=email\n```\nThis will only return the user's email.\n\n## Query params\n\nWhen passing query params, arrays of data are expected to be sent as a string of comma separated values.\n\n## Pagination\n\nAll collections are paginated. Pagination follows [JSON-API standards](https://jsonapi.org/format/#fetching-pagination).\n\nExample:\n```json\n{\n  \"meta\": {\n    \"totalPages\": 2,\n    \"currentPage\": 1\n  },\n  \"data\": [{\n    \"id\": \"1\",\n    \"type\": \"users\",\n  }],\n  \"links\": {\n    \"self\": \"/users?page[size]=100&page[number]=1\",\n    \"first\": \"/users?page[size]=100&page[number]=1\",\n    \"prev\": null,\n    \"next\": \"/users?page[size]=100&page[number]=2\",\n    \"last\": \"/users?page[size]=100&page[number]=1\"\n  }\n}\n```\n\nDefault page size is 72 and can be changed by passing a `page[size]` parameter. Maximum page size is 200.\n\n## Errors\n\nWhen a client sends invalid data in a request, Cobot returns a\n422 status code and a JSON-API error response.\n\nExample:\n```json\n{\n  \"errors\": [\n    {\n      \"source\": {\n        \"pointer\": \"/data/attributes/name\"\n      },\n      \"detail\": \"can't be blank\"\n    },\n    {\n      \"source\": {\n        \"pointer\": \"/data/attributes/password\"\n      },\n      \"detail\": \"is too short\"\n    }\n  ]\n}\n```\n"
  version: '2.0'
  contact:
    name: Cobot Support
    url: https://dev.cobot.me/
    email: support@cobot.me
servers:
- url: https://api.cobot.me
security:
- OAuth2: []
tags:
- name: External Resource
  description: 'A space''s resources can be enabled for external booking, which means they can be booked

    by guests without a Cobot account or space membership. All resources enabled for external booking

    appear under external resources.

    '
paths:
  /external_resources:
    post:
      summary: Create
      description: 'Create an external resource for a resource. Attributes set on the external

        resource override the attributes of the related resource. Attributes left

        null on the external resource will fall back to the related resource.


        **Access**: The current user must be an admin of the space the resource belongs to.

        '
      operationId: create-external-resource
      security:
      - OAuth2:
        - write_external_resources
      tags:
      - External Resource
      responses:
        '201':
          description: The created resource.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-resource'
              examples:
                default:
                  value:
                    data:
                      id: a4a99a71ac8df98d29de357180d273d3
                      type: externalResources
                      attributes:
                        name: Meeting Room
                        resourceType: room
                        accountingCode: EXTR
                        costCenter:
                          name: External Bookings
                          number: MR1
                        revenueAccount:
                          name: External Bookings
                          number: '4000'
                        pricing:
                          currency: EUR
                          taxes:
                          - name: Tax
                            rate: '20.0'
                          pricePerHour:
                            net: '10.0'
                            gross: '12.0'
                            currency: EUR
                            taxes:
                            - name: Tax
                              rate: '20.0'
                              amount: '2.0'
                          priceCap:
                            maximumDuration:
                              hours: 12
                              minutes: 30
                          discounts:
                          - pricePerHour:
                              net: '5.0'
                              gross: '6.0'
                              currency: EUR
                              taxes:
                              - name: Tax
                                rate: '20.0'
                                amount: '1.0'
                            minimumDuration:
                              hours: 2
                              minutes: 0
                          priceCaps:
                          - price:
                              net: '50.0'
                              gross: '60.0'
                              currency: EUR
                              taxes:
                              - name: Tax
                                rate: '20.0'
                                amount: '10.0'
                            maximumDuration:
                              hours: 8
                              minutes: 30
                        description: Meeting Room
                        instructions: Ring the bell and wait for the door to be opened.
                        cancellationPeriod: 120
                        bookingCutoff: 1
                        effectiveBookingCutoff: 1
                        minBookingDuration: 60
                        maxBookingDuration: 480
                        capacity: 1
                        area:
                        - unit: sqm
                          number: 40
                        - unit: sqft
                          number: 431
                        areaPreferredUnit: sqm
                        color: '#ff0000'
                        photo:
                          icon:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        bookingTimesString: mo - tu 15:00 - 16:00
                        bookingTimes:
                        - from: '15:00'
                          to: '16:00'
                          weekdays:
                          - 1
                          - 2
                        bookingsRequireApproval: true
                        payLater: false
                      relationships:
                        space:
                          data:
                            id: a927aa71ac8df98d29de357180d275a2
                            type: spaces
                        resource:
                          data:
                            id: 34e3ccee-4eb1-5b1d-b625-5bb34cefe28e
                            type: resources
                        resourceAvailability:
                          links:
                            related: https://api.cobot.me/external_resources/a4a99a71ac8df98d29de357180d273d3/availability
                        products:
                          data:
                          - id: 69efec34ba8df98d29de35cc80d27565
                            type: products
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
      requestBody:
        description: 'External resource data needed to create the external resource.

          At the very least a relationship to a resource is required.

          '
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-external-resource'
            examples:
              default:
                value:
                  data:
                    type: externalResources
                    attributes:
                      description: Meeting Room
                      pricing:
                        pricePerHour:
                          net: '10.0'
                        taxes:
                        - rate: '20.0'
                          name: Tax
                        discounts:
                        - pricePerHour:
                            net: '5'
                          minimumDuration:
                            hours: 2
                            minutes: 0
                        priceCaps:
                        - price:
                            net: '50'
                          maximumDuration:
                            hours: 8
                            minutes: 30
                      accountingCode: EXTR
                      costCenter:
                        name: External Bookings
                        number: Room 1
                      revenueAccount:
                        name: External Bookings
                        number: '4000'
                      maxBookingDuration: 480
                      minBookingDuration: 60
                      bookingTimesString: mo - tu 15:00 - 16:00
                      cancellationPeriod: 120
                      bookingsRequireApproval: true
                      payLater: false
                    relationships:
                      resource:
                        data:
                          id: 89da3cb66b5e6b39007690854kd66da4
                          type: resources
                      products:
                        data:
                        - id: 69efec34ba8df98d29de35cc80d27565
                          type: products
  /external_resources/{id}:
    get:
      summary: Single resource
      description: 'Show a single resource enabled for external booking.


        **Access**: Any user can access any space''s external resources.

        '
      operationId: get-external-resource
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the resource.
        schema:
          type: string
      - name: include
        in: query
        description: 'List of related resources to include in response.

          `media` are the additional photos of a resource (the primary photo is

          in the `photo` attribute).

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - media
      security:
      - OAuth2:
        - read_external_resources
      tags:
      - External Resource
      responses:
        '200':
          description: A single resource.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-resource'
              examples:
                default:
                  value:
                    data:
                      id: a4a99a71ac8df98d29de357180d273d3
                      type: externalResources
                      attributes:
                        name: Meeting Room
                        resourceType: room
                        accountingCode: EXTR
                        costCenter:
                          name: External Bookings
                          number: MR1
                        revenueAccount:
                          name: External Bookings
                          number: '4000'
                        pricing:
                          currency: EUR
                          taxes:
                          - name: Tax
                            rate: '20.0'
                          pricePerHour:
                            net: '10.0'
                            gross: '12.0'
                            currency: EUR
                            taxes:
                            - name: Tax
                              rate: '20.0'
                              amount: '2.0'
                          priceCap:
                            maximumDuration:
                              hours: 12
                              minutes: 30
                          discounts:
                          - pricePerHour:
                              net: '5.0'
                              gross: '6.0'
                              currency: EUR
                              taxes:
                              - name: Tax
                                rate: '20.0'
                                amount: '1.0'
                            minimumDuration:
                              hours: 2
                              minutes: 0
                          priceCaps:
                          - price:
                              net: '50.0'
                              gross: '60.0'
                              currency: EUR
                              taxes:
                              - name: Tax
                                rate: '20.0'
                                amount: '10.0'
                            maximumDuration:
                              hours: 8
                              minutes: 30
                        description: Meeting Room
                        instructions: Ring the bell and wait for the door to be opened.
                        cancellationPeriod: 120
                        bookingCutoff: 1
                        effectiveBookingCutoff: 1
                        minBookingDuration: 60
                        maxBookingDuration: 480
                        capacity: 1
                        area:
                        - unit: sqm
                          number: 40
                        - unit: sqft
                          number: 431
                        areaPreferredUnit: sqm
                        color: '#ff0000'
                        photo:
                          icon:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        bookingTimesString: mo - tu 15:00 - 16:00
                        bookingTimes:
                        - from: '15:00'
                          to: '16:00'
                          weekdays:
                          - 1
                          - 2
                        bookingsRequireApproval: true
                        payLater: false
                      relationships:
                        space:
                          data:
                            id: a927aa71ac8df98d29de357180d275a2
                            type: spaces
                        resource:
                          data:
                            id: 34e3ccee-4eb1-5b1d-b625-5bb34cefe28e
                            type: resources
                        resourceAvailability:
                          links:
                            related: https://api.cobot.me/external_resources/a4a99a71ac8df98d29de357180d273d3/availability
                        products:
                          data:
                          - id: 69efec34ba8df98d29de35cc80d27565
                            type: products
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
    patch:
      summary: Update resource
      description: 'Update a resource enabled for external booking.


        **Access**: The current user must be an admin of the space the resource belongs to.

        '
      operationId: patch-external-resource
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the external resource.
        schema:
          type: string
      security:
      - OAuth2:
        - write_external_resources
      tags:
      - External Resource
      requestBody:
        description: The external resource attributes to update.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update-external-resource'
            examples:
              default:
                value:
                  data:
                    type: externalResources
                    id: 2c2a8092-3273-50da-ba45-23badf1cdc5d
                    attributes:
                      pricing:
                        taxes:
                        - rate: '20.0'
                          name: Tax
                        pricePerHour:
                          net: '10.0'
                      description: Meeting Room
                      cancellationPeriod: 120
                      minBookingDuration: 60
                      maxBookingDuration: 480
                      bookingTimesString: mo - tu 15:00 - 16:00
                      bookingsRequireApproval: true
                      payLater: false
      responses:
        '200':
          description: The updated external resource.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-resource'
              examples:
                default:
                  value:
                    data:
                      id: a4a99a71ac8df98d29de357180d273d3
                      type: externalResources
                      attributes:
                        name: Meeting Room
                        resourceType: room
                        accountingCode: EXTR
                        costCenter:
                          name: External Bookings
                          number: MR1
                        revenueAccount:
                          name: External Bookings
                          number: '4000'
                        pricing:
                          currency: EUR
                          taxes:
                          - name: Tax
                            rate: '20.0'
                          pricePerHour:
                            net: '10.0'
                            gross: '12.0'
                            currency: EUR
                            taxes:
                            - name: Tax
                              rate: '20.0'
                              amount: '2.0'
                          priceCap:
                            maximumDuration:
                              hours: 12
                              minutes: 30
                          discounts:
                          - pricePerHour:
                              net: '5.0'
                              gross: '6.0'
                              currency: EUR
                              taxes:
                              - name: Tax
                                rate: '20.0'
                                amount: '1.0'
                            minimumDuration:
                              hours: 2
                              minutes: 0
                          priceCaps:
                          - price:
                              net: '50.0'
                              gross: '60.0'
                              currency: EUR
                              taxes:
                              - name: Tax
                                rate: '20.0'
                                amount: '10.0'
                            maximumDuration:
                              hours: 8
                              minutes: 30
                        description: Meeting Room
                        instructions: Ring the bell and wait for the door to be opened.
                        cancellationPeriod: 120
                        bookingCutoff: 1
                        effectiveBookingCutoff: 1
                        minBookingDuration: 60
                        maxBookingDuration: 480
                        capacity: 1
                        area:
                        - unit: sqm
                          number: 40
                        - unit: sqft
                          number: 431
                        areaPreferredUnit: sqm
                        color: '#ff0000'
                        photo:
                          icon:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        bookingTimesString: mo - tu 15:00 - 16:00
                        bookingTimes:
                        - from: '15:00'
                          to: '16:00'
                          weekdays:
                          - 1
                          - 2
                        bookingsRequireApproval: true
                        payLater: false
                      relationships:
                        space:
                          data:
                            id: a927aa71ac8df98d29de357180d275a2
                            type: spaces
                        resource:
                          data:
                            id: 34e3ccee-4eb1-5b1d-b625-5bb34cefe28e
                            type: resources
                        resourceAvailability:
                          links:
                            related: https://api.cobot.me/external_resources/a4a99a71ac8df98d29de357180d273d3/availability
                        products:
                          data:
                          - id: 69efec34ba8df98d29de35cc80d27565
                            type: products
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
    delete:
      summary: Delete
      description: 'Delete an external resource. The original resource the external resource is connected to is not deleted.


        **Access**: The current user must be an admin of the space.

        '
      operationId: delete-external-resource
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the resource.
        schema:
          type: string
      security:
      - OAuth2:
        - write_external_resources
      tags:
      - External Resource
      responses:
        '204':
          description: No content.
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
  /external_resources/{id}/availability:
    get:
      summary: Availability
      description: 'See the times an external resource is still available to book. Considers existing

        bookings, the resource''s booking times and calendar blockers.


        **Access**: Any user can access any space''s external resources.

        '
      operationId: get-external-resource-availbility
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the external resource.
        schema:
          type: string
      - name: filter[from]
        in: query
        required: true
        description: The time from when on to return the availability.
        schema:
          type: string
          format: date-time
      - name: filter[to]
        in: query
        required: true
        description: The time until when to return the availability.
        schema:
          type: string
          format: date-time
      security:
      - OAuth2:
        - read_external_resources
      tags:
      - External Resource
      responses:
        '200':
          description: Available booking times.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/resource-availability'
              examples:
                default:
                  value:
                    data:
                      id: a4a99a71ac8df98d29de357180d273d3
                      type: resourceAvailabilities
                      attributes:
                        availableTimes:
                        - from: '2018-01-01T10:00:00Z'
                          to: '2018-01-01T12:00:00Z'
                        - from: '2018-01-01T14:30:00Z'
                          to: '2018-01-01T19:00:00Z'
                      relationships:
                        resource:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: externalResources
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
  /spaces/{spaceId}/external_resources:
    get:
      summary: List for space
      description: 'List the resources enabled for external booking for a space.


        These resources can be booked and paid for by non-members of a space.


        **Access**: Any user can access any space''s external resources.

        '
      operationId: get-external-resources
      parameters:
      - name: spaceId
        in: path
        required: true
        description: The id of the space to get the resources for.
        schema:
          type: string
      - name: include
        in: query
        description: 'List of related resources to include in response.

          `media` are the additional photos of a resource (the primary photo is

          in the `photo` attribute).

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - media
      security:
      - OAuth2:
        - read_external_resources
      tags:
      - External Resource
      responses:
        '200':
          description: The resources enabled for external booking of a space.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-resources'
              examples:
                default:
                  value:
                    data:
                    - id: a4a99a71ac8df98d29de357180d273d3
                      type: externalResources
                      attributes:
                        name: Meeting Room
                        resourceType: room
                        accountingCode: EXTR
                        costCenter:
                          name: External Bookings
                          number: MR1
                        revenueAccount:
                          name: External Bookings
                          number: '4000'
                        pricing:
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                          pricePerHour:
                            net: '10.0'
                            gross: '12.0'
                            currency: EUR
                            taxes:
                            - name: Tax
                              rate: '20.0'
                              amount: '1.0'
                          priceCap:
                            maximumDuration:
                              hours: 12
                              minutes: 30
                          discounts:
                          - pricePerHour:
                              $ref: ../examples/price.yml
                            minimumDuration:
                              hours: 2
                              minutes: 0
                          priceCaps:
                          - price:
                              $ref: ../examples/price.yml
                            maximumDuration:
                              hours: 8
                              minutes: 30
                        cancellationPeriod: 120
                        bookingCutoff: 1
                        effectiveBookingCutoff: 1
                        description: Large room, fits 12.
                        instructions: Ring the bell and wait for the door to be opened.
                        minBookingDuration: 10
                        maxBookingDuration: 20
                        capacity: 1
                        area:
                        - unit: sqm
                          number: 40
                        - unit: sqft
                          number: 431
                        areaPreferredUnit: sqm
                        color: '#ff0000'
                        photo:
                          icon:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        bookingTimes:
                        - from: '15:00'
                          to: '16:00'
                          weekdays:
                          - 1
                          - 2
                        bookingsRequireApproval: false
                        payLater: false
                      relationships:
                        space:
                          data:
                            id: a927aa71ac8df98d29de357180d275a2
                            type: spaces
                        resource:
                          data:
                            id: 34e3ccee-4eb1-5b1d-b625-5bb34cefe28e
                            type: resources
                        resourceAvailability:
                          links:
                            related: https://api.cobot.me/resources/a4a99a71ac8df98d29de357180d273d3/availability
                        products:
                          data:
                          - id: 69efec34ba8df98d29de35cc80d27565
                            type: products
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
  /spaces/{spaceId}/external_resources/available:
    get:
      summary: Available resources
      description: 'List the external resources that are available to book at a given time.

        This means there are fewer existing bookings than the resources'' units.

        `booking_times`, min/max duration and calendar blockers are also taken into account.


        **Access**: Any user can access any space''s external resources.

        '
      operationId: get-available-external-resources
      parameters:
      - name: spaceId
        in: path
        required: true
        description: The id of the space to get the resources for.
        schema:
          type: string
      - name: filter[from]
        in: query
        required: true
        description: The start of the timespan to check for availability.
        schema:
          type: string
          format: date-time
      - name: filter[to]
        in: query
        required: true
        description: The end of the timespan to check for availability.
        schema:
          type: string
          format: date-time
      - name: filter[ignoreBookingTimes]
        in: query
        required: false
        description: If set to true, returns resources as available even when the requested time is outside of the resource's booking times setting or blocked by calendar blockers. Option available only for admins of a space.
        schema:
          type: boolean
      - name: filter[ignoreExternalBookingId]
        in: query
        required: false
        description: 'Id of an external booking to not consider when determining

          availability. Useful for determining availbility before moving an

          external booking to a different time.

          '
        schema:
          type: string
      - name: filter[minimumCapacity]
        in: query
        required: false
        description: 'If set, returns only resources where capacity is greater than or equal to requested value.

          '
        schema:
          type: integer
      - name: include
        in: query
        description: 'List of related resources to include in response.

          `media` are the additional photos of a resource (the primary photo is

          in the `photo` attribute).

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - media
      security:
      - OAuth2:
        - read_external_resources
      tags:
      - External Resource
      responses:
        '200':
          description: The external resources of a space that are available at the given time.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-resources'
              examples:
                default:
                  value:
                    data:
                    - id: a4a99a71ac8df98d29de357180d273d3
                      type: externalResources
                      attributes:
                        name: Meeting Room
                        resourceType: room
                        accountingCode: EXTR
                        costCenter:
                          name: External Bookings
                          number: MR1
                        revenueAccount:
                          name: External Bookings
                          number: '4000'
                        pricing:
                          currency: EUR
                          taxes:
                          - name: Tax
                            rate: '20.0'
                          pricePerHour:
                            net: '10.0'
                            gross: '12.0'
                            currency: EUR
                            taxes:
                            - name: Tax
                              rate: '20.0'
                              amount: '2.0'
                          priceCap:
                            maximumDuration:
                              hours: 12
                              minutes: 30
                          discounts:
                          - pricePerHour:
                              net: '5.0'
                              gross: '6.0'
                              currency: EUR
                              taxes:
                              - name: Tax
                                rate: '20.0'
                                amount: '1.0'
                            minimumDuration:
                              hours: 2
                              minutes: 0
                          priceCaps:
                          - price:
                              net: '50.0'
                              gross: '60.0'
                              currency: EUR
                              taxes:
                              - name: Tax
                                rate: '20.0'
                                amount: '10.0'
                            maximumDuration:
                              hours: 8
                              minutes: 30
                        description: Meeting Room
                        instructions: Ring the bell and wait for the door to be opened.
                        cancellationPeriod: 120
                        bookingCutoff: 1
                        effectiveBookingCutoff: 1
                        minBookingDuration: 60
                        maxBookingDuration: 480
                        capacity: 1
                        area:
                        - unit: sqm
                          number: 40
                        - unit: sqft
                          number: 431
                        areaPreferredUnit: sqm
                        color: '#ff0000'
                        photo:
                          icon:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        bookingTimesString: mo - tu 15:00 - 16:00
                        bookingTimes:
                        - from: '15:00'
                          to: '16:00'
                          weekdays:
                          - 1
                          - 2
                        bookingsRequireApproval: true
                        payLater: false
                      relationships:
                        space:
                          data:
                            id: a927aa71ac8df98d29de357180d275a2
                            type: spaces
                        resource:
                          data:
                            id: 34e3ccee-4eb1-5b1d-b625-5bb34cefe28e
                            type: resources
                        resourceAvailability:
                          links:
                            related: https://api.cobot.me/external_resources/a4a99a71ac8df98d29de357180d273d3/availability
                        products:
                          data:
                          - id: 69efec34ba8df98d29de35cc80d27565
                            type: products
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
components:
  schemas:
    positive-decimal:
      description: A positive decimal number (>= 0).
      type: string
      pattern: ^\d+(\.\d+)?$
    price:
      description: Price including net/gross value and all taxes.
      type: object
      required:
      - net
      - gross
      - currency
      - taxes
      additionalProperties: false
      properties:
        net:
          $ref: '#/components/schemas/decimal'
        gross:
          $ref: '#/components/schemas/decimal'
        currency:
          $ref: '#/components/schemas/currency'
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/tax'
    related-link:
      type: object
      required:
      - links
      additionalProperties: false
      properties:
        links:
          type: object
          required:
          - related
          additionalProperties: false
          properties:
            related:
              type: string
              format: uri-reference
    resource-price-cap:
      type: object
      required:
      - price
      - maximumDuration
      additionalProperties: false
      properties:
        price:
          $ref: '#/components/schemas/price'
        maximumDuration:
          $ref: '#/components/schemas/hours-minutes-object'
    meta:
      description: Non-standard meta-information that can not be represented as an attribute or relationship.
      type: object
      additionalProperties: true
    external-resources:
      id: external-resources.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        meta:
          $ref: '#/components/schemas/pagination-meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/-external-resource-data'
        included:
          type: array
          items:
            type: object
        links:
          $ref: '#/components/schemas/pagination-links'
    resourceType:
      oneOf:
      - type: 'null'
      - type: string
        enum:
        - room
        - desk
        - other
    pagination-meta:
      type: object
      additionalProperties: false
      properties:
        totalPages:
          type: number
        currentPage:
          type: number
    color:
      description: 'Color hex code, e.g. #FF0000'
      type: string
      pattern: ^#[a-fA-F0-9]{6}$
    priceCaps:
      type: array
      items:
        type: object
        additionalProperties: false
        required:
        - price
        - maximumDuration
        properties:
          price:
            $ref: '#/components/schemas/positive-money'
          maximumDuration:
            $ref: '#/components/schemas/hours-minutes-object'
    external-resource:
      id: external-resource.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/-external-resource-data'
        included:
          type: array
          items:
            type: object
    pricing:
      description: A pricing object, containing all pricing information for a given resource.
      required:
      - currency
      - pricePerHour
      - discounts
      - priceCap
      - priceCaps
      - taxes
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/currency'
        pricePerHour:
          $ref: '#/components/schemas/price'
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/resource-discount'
        priceCaps:
          type: array
          items:
            $ref: '#/components/schemas/resource-price-cap'
        priceCap:
          description: Only charges for the booking up to the given duration.
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/resource-paid-time-cap'
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/tax'
        fixedRates:
          description: When set, regular price, discounts, price caps etc are ignored.
          type: array
          items:
            $ref: '#/components/schemas/fixed-rate'
      additionalProperties: false
    fixedRates:
      type: array
      description: When set, regular price, discounts, price caps etc are ignored.
      items:
        $ref: '#/components/schemas/fixed-rate'
    currency:
      description: ISO 4217 3 letter currency code.
      type: string
      pattern: ^[A-Z]{3}$
    photo:
      type: object
      properties:
        url:
          type: string
          format: uri-reference
        width:
          type: number
        height:
          type: number
      additionalProperties: false
    resource-availability:
      id: resource-availability.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - id
          - type
          additionalProperties: false
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - resourceAvailabilities
            attributes:
              type: object
              required:
              - availableTimes
              additionalProperties: false
              properties:
                availableTimes:
                  type: array
                  items:
                    type: object
                    required:
                    - from
                    - to
                    additionalProperties: false
                    properties:
                      from:
                        type: string
                        format: date-time
                      to:
                        type: string
                        format: date-time
            relationships:
              type: object
              additionalProperties: false
              properties:
                resource:
                  $ref: '#/components/schemas/relationship-linkage'
    linkage:
      description: The "type" and "id" of a linked entity.
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
        id:
          type: string
      additionalProperties: false
    createUpdateAttributes:
      type: object
      additionalProperties: false
      properties:
        description:
          oneOf:
          - type: string
          - type: 'null'
        instructions:
          description: Instructions for visitors on how to get to/use this external resource.
          oneOf:
          - type: string
          - type: 'null'
        pricePerHour:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/positive-net-amount-with-currency-and-taxes'
        accountingCode:
          type:
          - 'null'
          - string
        costCenter:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/cost-center'
        revenueAccount:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/revenue-account'
        maxBookingDuration:
          oneOf:
          - type: integer
            minimum: 0
          - type: 'null'
        cancellationPeriod:
          description: This limits how many hours in advance of a booking's start time it can still be edited or canceled by visitors.
          oneOf:
          - type: integer
            minimum: 0
          - type: 'null'
        bookingCutoff:
          description: This limits how many hours in advance of an external booking's start time it can be made by visitors.
          oneOf:
          - type: integer
          - type: 'null'
        minBookingDuration:
          oneOf:
          - type: integer
            minimum: 0
          - type: 'null'
        discounts:
          $ref: '#/components/schemas/discounts'
        priceCaps:
          $ref: '#/components/schemas/priceCaps'
        pricing:
          type: object
          description: A pricing object, containing all pricing information to create/update an external resource.
          additionalProperties: false
          properties:
            pricePerHour:
              oneOf:
              - $ref: '#/components/schemas/positive-money'
              - type: 'null'
            discounts:
              $ref: '#/components/schemas/discounts'
            priceCap:
              $ref: '#/components/schemas/priceCap'
            priceCaps:
              $ref: '#/components/schemas/priceCaps'
            taxes:
              $ref: '#/components/schemas/taxes'
            fixedRates:
              $ref: '#/components/schemas/fixedRates'
        bookingTimesString:
          oneOf:
          - type: string
          - type: 'null'
        bookingsRequireApproval:
          type: boolean
          default: false
          description: If true, bookings with this external resource will require admin approval.
        payLater:
          type: boolean
          default: false
          description: If true, visitor payment details will be collected to be charged manually later.
    resource-paid-time-cap:
      type: object
      required:
      - maximumDuration
      properties:
        maximumDuration:
          $ref: '#/components/schemas/hours-minutes-object'
      additionalProperties: false
    hours-minutes-object:
      type: object
      required:
      - hours
      - minutes
      additionalProperties: false
      properties:
        hours:
          type: integer
          minimum: 0
        minutes:
          type: integer
          minimum: 0
          maximum: 59
    products:
      description: Additional products bookable as booking extras with this external resource.
      type: object
      additionalProperties: false
      required:
      - data
      properties:
        data:
          type: array
          items:
            type: object
            required:
            - id
            - type
            additionalProperties: false
            properties:
              type:
                type: string
                enum:
                - products
              id:
                description: Id of a product (products endpoint) to add as bookable with this external resource
                type: string
    resource-discount:
      type: object
      required:
      - pricePerHour
      - minimumDuration
      additionalProperties: false
      properties:
        pricePerHour:
          $ref: '#/components/schemas/price'
        minimumDuration:
          $ref: '#/components/schemas/hours-minutes-object'
    failure:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          uniqueItems: true
        meta:
          $ref: '#/components/schemas/meta'
        jsonapi:
          $ref: '#/components/schemas/jsonapi'
        links:
          $ref: '#/components/schemas/links'
      additionalProperties: false
    update-external-resource:
      id: update-external-resource.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - type
          - id
          - attributes
          additionalProperties: false
          properties:
            type:
              type: string
              pattern: externalResources
            id:
              type: string
            attributes:
              $ref: '#/components/schemas/createUpdateAttributes'
            relationships:
              type: object
              additionalProperties: false
              required:
              - products
              properties:
                products:
                  $ref: '#/components/schemas/products'
    relationship-linkage:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/linkage'
    decimal:
      description: A decimal number.
      type: string
      pattern: ^-?\d+(\.\d+)?$
    hours-minutes:
      type: string
      pattern: ^\d{2}:\d{2}$
    link:
      description: 'A link **MUST** be represented as either: a string containing the link''s URL or a link object.'
      oneOf:
      - description: A string containing the link's URL.
        type: string
        format: uri-reference
      - type: object
        required:
        - href
        properties:
          href:
            description: A string containing the link's URL.
            type: string
            format: uri-reference
          meta:
            $ref: '#/components/schemas/meta'
    links:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/link'
    fixed-rate:
      type: object
      additionalProperties: false
      required:
      - price
      - maximumDuration
      properties:
        price:
          $ref: '#/components/schemas/positive-money'
        maximumDuration:
          $ref: '#/components/schemas/hours-minutes-object'
    -external-resource-data:
      id: -external-resource-data.json
      type: object
      required:
      - id
      - type
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - externalResources
        attributes:
          type: object
          required:
          - accountingCode
          - area
          - areaPreferredUnit
          - costCenter
          - revenueAccount
          - bookingTimes
          - bookingCutoff
          - effectiveBookingCutoff
          - cancellationPeriod
          - capacity
          - color
          - description
          - instructions
          - maxBookingDuration
          - minBookingDuration
          - name
          - photo
          - pricing
          - bookingsRequireApproval
          - payLater
          - resourceType
          additionalProperties: false
          properties:
            name:
              type: string
            resourceType:
              $ref: '#/components/schemas/resourceType'
            area:
              description: Floor area in square meters and square feet. Numbers may be null when not set.
              type: array
              minItems: 2
              maxItems: 2
              items:
                type: object
                additionalProperties: false
                required:
                - unit
                - number
                properties:
                  unit:
                    type: string
                    enum:
                    - sqm
                    - sqft
                  number:
                    oneOf:
                    - type: integer
                    - type: 'null'
            areaPreferredUnit:
              description: The unit to display for the resource's space based on the space's country.
              type: string
              enum:
              - sqm
              - sqft
            accountingCode:
              oneOf:
              - type: string
              - type: 'null'
            costCenter:
              oneOf:
              - $ref: '#/components/schemas/cost-center'
              - type: 'null'
            revenueAccount:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/revenue-account'
            pricing:
              $ref: '#/components/schemas/pricing'
            priceCaps:
              type: array
              items:
                $ref: '#/components/schemas/resource-price-cap'
            cancellationPeriod:
              description: This limits how many hours in advance of a booking's start time it can still be edited or canceled by visitors.
              oneOf:
              - type: integer
              - type: 'null'
            bookingCutoff:
              description: This limits how many hours in advance of an external booking's start time it can be made by visitors.
              oneOf:
              - type: integer
              - type: 'null'
            effectiveBookingCutoff:
              description: This limits how many hours in advance of an external booking's start time it can be made by visitors. Looks at the external_resource's booking_cutoff and falls back to the internal resource's if not set.
              type: integer
            description:
              oneOf:
              - type: string
              - type: 'null'
            instructions:
              description: Instructions for the visitor on how to get to/use the resource
              oneOf:
              - type: string
              - type: 'null'
            capacity:
              description: How many people can fit inside
              oneOf:
              - type: number
              - type: 'null'
            minBookingDuration:
              description: The minimum duration an external booking for this external resource must have in minutes.
              oneOf:
              - type: number
              - type: 'null'
            maxBookingDuration:
              description: The maximum duration an external booking for this external resource can have in minutes.
              oneOf:
              - type: number
              - type: 'null'
            color:
              oneOf:
              - $ref: '#/components/schemas/color'
              - type: 'null'
            photo:
              oneOf:
              - type: object
                properties:
                  icon:
                    $ref: '#/components/schemas/photo'
                  default:
                    $ref: '#/components/schemas/photo'
                  small:
                    $ref: '#/components/schemas/photo'
                  medium:
                    $ref: '#/components/schemas/photo'
                  large:
                    $ref: '#/components/schemas/photo'
                additionalProperties: false
              - type: 'null'
            bookingTimes:
              $ref: '#/components/schemas/bookingTimes'
            bookingsRequireApproval:
              type: boolean
              description: Indicates whether bookings with this external resource require admin approval.
            bookingTimesString:
              oneOf:
              - type: string
              - type: 'null'
            payLater:
              type: boolean
              description: Indicates whether payment details are collected for later use (as opposed to immediate charge).
        relationships:
          type: object
          additionalProperties: false
          properties:
            resourceAvailability:
              $ref: '#/components/schemas/related-link'
            resource:
              $ref: '#/components/schemas/relationship-linkage'
            media:
              description: Additional photos of the resource. Only included when requested via include=media.
              $ref: '#/components/schemas/relationship-linkage-array'
            space:
              $ref: '#/components/schemas/relationship-linkage'
            products:
              $ref: '#/components/schemas/relationship-linkage-array'
    revenue-account:
      type: object
      additionalProperties: false
      required:
      - name
      - number
      properties:
        name:
          type: string
        number:
          type: string
    bookingTimes:
      type: array
      description: Times/days or durations for which the resource can be booked. If empty, resource can be booked at any time.
      items:
        oneOf:
        - type: object
          additionalProperties: false
          required:
          - from
          - to
          - weekdays
          properties:
            from:
              $ref: '#/components/schemas/hours-minutes'
            to:
              $ref: '#/components/schemas/hours-minutes'
            weekdays:
              description: If empty, times are valid on any weekday. 1 = monday, 7 = sunday (see ISO 8601).
              type: array
              items:
                type: number
                minimum: 1
                maximum: 7
        - type: object
          additionalProperties: false
          required:
          - hours
          - minutes
          properties:
            hours:
              type: integer
            minutes:
              type: integer
    priceCap:
      description: Only charges for the booking up to the given duration.
      oneOf:
      - type: object
        properties:
          maximumDuration:
            $ref: '#/components/schemas/hours-minutes-object'
        additionalProperties: false
      - type: 'null'
    positive-money:
      type: object
      required:
      - net
      additionalProperties: false
      properties:
        net:
          $ref: '#/components/schemas/positive-decimal'
    tax:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        rate:
          $ref: '#/components/schemas/decimal'
        amount:
          $ref: '#/components/schemas/decimal'
    error:
      type: object
      properties:
        id:
          description: A unique identifier for this particular occurrence of the problem.
          type: string
        links:
          $ref: '#/components/schemas/links'
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          type: string
        code:
          description: An application-specific error code, expressed as a string value.
          type: string
        title:
          description: A short, human-readable summary of the problem. It **SHOULD NOT** change from occurrence to occurrence of the problem, except for purposes of localization.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        source:
          type: object
          properties:
            pointer:
              description: A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. "/data" for a primary data object, or "/data/attributes/title" for a specific attribute].
              type: string
            parameter:
              description: A string indicating which query parameter caused the error.
              type: string
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: false
    jsonapi:
      description: An object describing the server's implementation
      type: object
      properties:
        version:
          type: string
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: false
    taxes:
      oneOf:
      - type: 'null'
      - type: array
        items:
          type: object
          additionalProperties: false
          required:
          - rate
          - name
          properties:
            rate:
              $ref: '#/components/schemas/positive-decimal'
            name:
              type: string
    create-external-resource:
      id: create-external-resource.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - type
          - relationships
          additionalProperties: false
          properties:
            type:
              type: string
              pattern: externalResources
            attributes:
              $ref: '#/components/schemas/createUpdateAttributes'
            relationships:
              type: object
              additionalProperties: false
              required:
              - resource
              properties:
                resource:
                  type: object
                  additionalProperties: false
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - type
                      - id
                      additionalProperties: false
                      properties:
                        type:
                          type: string
                          enum:
                          - resources
                        id:
                          type: string
                products:
                  $ref: '#/components/schemas/products'
    pagination-links:
      type: object
      required:
      - first
      - self
      - next
      additionalProperties: false
      properties:
        first:
          type: string
          description: Link to the first results page.
        prev:
          oneOf:
          - type: string
          - type: 'null'
          description: Link to the previous results page. Null when on the first page.
        self:
          type: string
          description: Link to the current results page.
        next:
          oneOf:
          - type: string
          - type: 'null'
          description: Link to the next results page. Null when on the last page.
        last:
          type: string
          description: Link to the last results page.
    cost-center:
      type: object
      additionalProperties: false
      required:
      - name
      - number
      properties:
        name:
          type: string
        number:
          type: string
    discounts:
      type: array
      items:
        type: object
        additionalProperties: false
        required:
        - pricePerHour
        - minimumDuration
        properties:
          pricePerHour:
            $ref: '#/components/schemas/positive-money'
          minimumDuration:
            $ref: '#/components/schemas/hours-minutes-object'
    positive-net-amount-with-currency-and-taxes:
      description: Positive amount with currency and taxes. Not setting any taxes will result in the space's default taxes being used.
      type: object
      required:
      - net
      - currency
      additionalProperties: false
      properties:
        net:
          $ref: '#/components/schemas/positive-decimal'
        currency:
          $ref: '#/components/schemas/currency'
        taxes:
          $ref: '#/components/schemas/taxes'
    relationship-linkage-array:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/linkage'
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: https://www.cobot.me/.well-known/openid-configuration
    OAuth2:
      type: oauth2
      description: "OAuth is \"an open protocol to allow secure API authorization in a simple and\nstandard method from desktop and web applications.\". \"OAuth 2.0 is the\nnext evolution of the OAuth protocol [..]. OAuth 2.0 focuses on client\ndeveloper simplicity [...]. It is supported by many popular sites such as\nFacebook and there are client libraries available for many programming\nlanguages.\n\nFor information about OAuth2 see the [oauth website](http://oauth.net/2/).\n\n**For OAuth2 you need a client id and secret. In order to get those you have\nto [register your application](/oauth2_clients).**\n\nAPI authorization works by passing a bearer token via the HTTP Authorization header:\n\n    Authorization: bearer <token>\n\n## Permissions (Scope)\n\nOAuth2 [defines scopes](https://tools.ietf.org/html/rfc6749#section-3.3) to\nrestrict access to certain resources.\n\nThe required scope for each resource can be found within the documentation\nfor each endpoint.\n\nPlease note that a user's scope can be limited when they access the API as\nan admin of a space and some of their admin permissions have been revoked.\n"
      flows:
        authorizationCode:
          authorizationUrl: https://www.cobot.me/oauth/authorize
          tokenUrl: https://www.cobot.me/oauth/access_token
          scopes:
            read_articles: Read help desk articles.
            read_allocations: Read resource allocation data.
            read_booking_credits: Read information about a membership's booking credits.
            read_bookings: Read booking data.
            read_built_in_email_customizations: Read built in email customizations.
            read_calendar_blockers: Read calendar blockers.
            read_check_ins: Read memberships' check-in data.
            read_contacts: Read contacts.
            read_drop_in_passes: Read drop-in passes.
            read_drop_in_pass_templates: Read drop-in pass templates.
            read_discount_codes: Read discount codes.
            read_event_attendances: Read who is attending an event.
            read_event_messages: Read messages sent about events.
            read_events: Read events of a space.
            read_external_bookings: Read external booking data.
            read_external_resources: Read resources enabled for external booking.
            read_invoices: Read invoices created for a membership in a space.
            read_memberships: Read information about memberships in a space.
            read_teams: Read information about teams in a space.
            read_membership_profiles: Read members' profile data.
            read_navigation_links: Read/list navigation links for a space.
            read_payment_methods: Read payment methods in order to process payments.
            read_published_membership_profiles: Read published members' profile data.
            read_networks: Read information about a network.
            read_products: Read information about products.
            read_resource_categories: Read information about booking calendar categories.
            read_resources: Read information about booking calendar resources.
            read_single_page_apps: Read information about single page apps.
            read_space_profiles: Read space profile information.
            read_spaces: Read basic space information.
            read_space_billing_details: Read information relevant to billing the space.
            read_space_payment_method: Read a space's payment method used to pay for the space's Cobot subscription.
            read_space_subscriptions: Read a space's subscription.
            read_terms_approvals: Shows missing approvals for the current member.
            read_urls: Read the URLs to the Cobot web interface.
            read_user: Read the current user's information.
            write_bookings: Write booking data.
            write_check_ins: Check a member in at a space.
            write_customers: Convert a space to a customer.
            write_drop_in_pass_purchases: Create drop-in pass purchases.
            write_drop_in_passes: Cancel drop-in passes.
            write_event_ticket_purchases: Create event ticket purchases.
            write_event_attendances: Attend/unattend events.
            write_event_messages: Create/update messages sent about events.
            write_events: Write to events of a space.
            write_external_bookings: Create/update bookings as a non-member.
            write_external_resources: Create/update/delete resources enabled for non-memberss
            write_resources: Create/update/delete booking calendar resources.
            write_invoices: Create invoices for members in a space.
            write_invoice_reminders: Send invoice reminder emails.
            write_membership_profiles: Manage the social profiles of members.
            write_navigation_links: Create/update/delete navigation links for a space.
            write_payments: Initiate payments for external bookings.
            write_single_page_apps: Create and update single page apps to be embedded on Cobot.
            write_space_billing_details: Update a space's billing details.
            write_space_payment_method: Update a space's payment method used to pay for the space's Cobot subscription.
            write_space_subscriptions: Change a space's subscription. Only trusted clients can request this scope. Contact support.
            write_terms_approvals: Approve different kinds of terms as a member.
