openapi: 3.2.0
info:
  title: Cobot Event API
  termsOfService: https://www.cobot.me/terms
  x-logo:
    url: /api2_logo.webp
    backgroundColor: '#FFFFFF'
    altText: Cobot logo
  description: "This is the 2.0 version of the Cobot API. You can find version 1.0\nas well as various tutorials under [/api-docs](/api-docs).\n\n## JSON API\n\nThis API follows the [JSON API](http://jsonapi.org) standard. This means:\n\n* requests and responses are sent in JSON\n* all requests MUST send a `Accept: application/vnd.api+json` header\n* non-GET requests MUST send a `Content-Type: application/vnd.api+json` header\n* all responses send a `Content-Type: application/vnd.api+json` header\n* all JSON formats are standardized (requests, responses, errors)\n\n## Cross-Origin Resource Sharing (CORS)\n\nAll endpoints send [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)\nheaders so that the API can be used from within browsers.\n\n## Rate Limiting\n\nIn general, the rate limit for an endpoint is 60 requests per minute per user.\nIf applicable, alternative limits are given in the documentation for\nparticular endpoints.\n\nIf you've exceeded the limit, Cobot will return a 429 status code and a JSON\nerror message. The response will also contain a *Retry-After* header, this\ndenotes the number of seconds to wait before your client may retry.\n\n## Times and Dates\n\nTimes and Dates must be in ISO 8601 formats. e.g. date: `2021-01-07`, datetime: `2021-01-07T16:25:51Z`,  time: `16:25:51`.\nMillisecond are ommited, so `16:25:51.811` will become `16:25:51`.\nTime zone offsets must be provided by the client, e.g. `16:25:51+02:00` or '16:25:51Z' for UTC.\n\nTimes are always returned in UTC.\n## Sparse Fieldsets\n\nThis API supports [sparse fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets),\nso clients can request which attributes they are interested in.\n\nExample:\n```\nGET https://api.cobot.me/user?fields[users]=email\n```\nThis will only return the user's email.\n\n## Query params\n\nWhen passing query params, arrays of data are expected to be sent as a string of comma separated values.\n\n## Pagination\n\nAll collections are paginated. Pagination follows [JSON-API standards](https://jsonapi.org/format/#fetching-pagination).\n\nExample:\n```json\n{\n  \"meta\": {\n    \"totalPages\": 2,\n    \"currentPage\": 1\n  },\n  \"data\": [{\n    \"id\": \"1\",\n    \"type\": \"users\",\n  }],\n  \"links\": {\n    \"self\": \"/users?page[size]=100&page[number]=1\",\n    \"first\": \"/users?page[size]=100&page[number]=1\",\n    \"prev\": null,\n    \"next\": \"/users?page[size]=100&page[number]=2\",\n    \"last\": \"/users?page[size]=100&page[number]=1\"\n  }\n}\n```\n\nDefault page size is 72 and can be changed by passing a `page[size]` parameter. Maximum page size is 200.\n\n## Errors\n\nWhen a client sends invalid data in a request, Cobot returns a\n422 status code and a JSON-API error response.\n\nExample:\n```json\n{\n  \"errors\": [\n    {\n      \"source\": {\n        \"pointer\": \"/data/attributes/name\"\n      },\n      \"detail\": \"can't be blank\"\n    },\n    {\n      \"source\": {\n        \"pointer\": \"/data/attributes/password\"\n      },\n      \"detail\": \"is too short\"\n    }\n  ]\n}\n```\n"
  version: '2.0'
  contact:
    name: Cobot Support
    url: https://dev.cobot.me/
    email: support@cobot.me
servers:
- url: https://api.cobot.me
security:
- OAuth2: []
tags:
- name: Event
  description: 'Spaces can run events for their members or the public.

    Events are created and later published by admins, at which point members are able to see and attend them.

    Admins can also create messages for events, which are sent to attendees based on triggers such as someone having

    just attended an event.

    '
paths:
  /events:
    post:
      summary: Create event
      description: 'Create events as an admin. To become visible to members, events

        have to be published after being created.

        Events can be associated with resources, in which cases the

        resources will be booked for the duration of the event.

        **Access**: The current user must be an admin of the space.

        '
      operationId: create-admin-event
      security:
      - OAuth2:
        - write_events
        - write_bookings
      tags:
      - Event
      responses:
        '201':
          description: New event
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        visitorPrice: null
                        expectedRevenue:
                        - net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                        - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                          - id: 419cabc7547473ea91762671f4641701
                            type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                          - id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
      requestBody:
        description: Event to be created for a space.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-event'
            examples:
              default:
                value:
                  data:
                    type: events
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      title: launch party
                      price:
                        net: '10.0'
                        currency: EUR
                      accountingCode: EVT
                      costCenter:
                        name: Events
                        number: 2018-1
                      visitorCostCenter:
                        name: Visitor Events
                        number: 2018-1
                      revenueAccount:
                        name: Events
                        number: '4000'
                      visitorRevenueAccount:
                        name: Visitor Events
                        number: '4001'
                      audience: membersOnly
                      image:
                        data: data:image/png;base64,...
                      description: We are relaunching our coworking space!
                      location: Lobby
                      tags:
                      - party
                      videoUrl: null
                      capacity: 85
                    relationships:
                      space:
                        data:
                          id: 99da6cb66b5e6b39007690854fd66df9
                          type: spaces
                      resources:
                        data:
                        - id: 89da3cb66b5e6b39007690854kd66da4
                          type: resources
                          meta:
                            units: 3
  /events/{id}:
    get:
      summary: Single event
      description: 'Show a single event.


        **Access**: The current user must either be an admin or a member of a space or the space''s network unless the event is public.

        Including `attendances` or `attendances.attendee` requires the current user to be an admin or member of the space or the space''s network.

        '
      operationId: get-event
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: 'List of related resources to include in response as comma separated string.


          Including `attendances.attendee` will also return `attendances`.

          A maximum of 5 attendances per event is returned. If the current user is attending,

          their attendance will be included in the 5. The full count is returned in the meta section.


          Including `attendances` requires the `read_event_attendances` scope.

          Including `attendances.attendee` requires the `read_event_attendances`, `read_memberships` and `read_contacts` scopes.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - attendances
            - attendances.attendee
      security:
      - OAuth2:
        - read_events
      tags:
      - Event
      responses:
        '200':
          description: A single event
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        visitorPrice: null
                        expectedRevenue:
                        - net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                        - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                          - id: 419cabc7547473ea91762671f4641701
                            type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                          - id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
    patch:
      summary: Update event
      description: 'Update the details of an event. Note that the `publishedStatus` attribute can only be

        changed via the publish/depublish endpoints.


        **Access**: The current user must be an admin of the space the event belongs to.

        '
      operationId: update-event
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event.
        schema:
          type: string
      security:
      - OAuth2:
        - write_events
      tags:
      - Event
      responses:
        '200':
          description: The updated event.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        visitorPrice: null
                        expectedRevenue:
                        - net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                        - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                          - id: 419cabc7547473ea91762671f4641701
                            type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                          - id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
      requestBody:
        description: Event to be updated.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update-event'
            examples:
              default:
                value:
                  data:
                    id: b8f21a71ac8df98d29de357180d27358
                    type: events
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      title: launch party
                      price:
                        net: '10.0'
                        currency: EUR
                      audience: membersOnly
                      accountingCode: EVT
                      costCenter:
                        name: Events
                        number: 2018-1
                      visitorCostCenter:
                        name: Visitor Events
                        number: 2018-1
                      revenueAccount:
                        name: Events
                        number: '4000'
                      visitorRevenueAccount:
                        name: Visitor Events
                        number: '4001'
                      image:
                        data: data:image/png;base64,...
                      description: We are relaunching our coworking space!
                      location: Lobby
                      tags:
                      - party
                      videoUrl: null
                      capacity: 85
                    relationships:
                      resources:
                        data:
                        - id: 89da3cb66b5e6b39007690854kd66da4
                          type: resources
                          meta:
                            units: all
    delete:
      summary: Delete event
      description: 'Deleting an event will notify all attendees and refund their tickets if applicable.

        **Access**: The current user must be an admin of the space the event belongs to.

        '
      operationId: delete-event
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event.
        schema:
          type: string
      security:
      - OAuth2:
        - write_events
      tags:
      - Event
      responses:
        '204':
          description: Empty response
  /event_attendances:
    post:
      summary: Attend event
      description: 'Attend an event as member. Automatically creates a `Charge`

        on the membership if the event has a price.


        **Access**: The current user must be a member of the space.

        '
      operationId: attend-event
      security:
      - OAuth2:
        - write_event_attendances
      tags:
      - Event
      requestBody:
        description: The membership that wants to attend and the event to attend.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-event-attendance'
            examples:
              default:
                value:
                  data:
                    type: eventAttendances
                    attributes:
                      visibility: public
                    relationships:
                      event:
                        data:
                          id: b8f21a71ac8df98d29de357180d27358
                          type: events
                      attendee:
                        data:
                          id: 99da6cb66b5e6b39007690854fd66df9
                          type: memberships
      responses:
        '201':
          description: Attendance
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-attendance'
              examples:
                default:
                  value:
                    data:
                      id: 3130b02817a5aab19255fb8f2c9d1ee3
                      type: eventAttendances
                      attributes:
                        createdAt: '2024-10-27T11:48:24+01:00'
                        numberOfAttendees: 1
                        name: Earl McBride
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - amount: '2.0'
                            name: VAT
                            rate: '20.0'
                        accountingCode: EVT
                        visibility: public
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
                        attendee:
                          data:
                            id: a8c12f62ac8df98d29de357180d673e1
                            type: memberships
        '409':
          description: In case the member is already attending or the event capacity is reached.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: Already attending event.
                      source:
                        pointer: /data/relationships/attendee
  /event_attendances/{id}:
    get:
      summary: Single event attendance
      description: 'Get details of a single event attendance.


        **Access**: The current user must be an admin of the space the event belongs to,

        or the event attendee, or a member of the space if the attendance visibility is ''members'',

        or anyone if the attendance has ''public'' visibility.

        '
      operationId: get-event-attendance
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event attendance to get.
        schema:
          type: string
      - name: include
        in: query
        style: form
        explode: false
        required: false
        description: Include attendee. Requires `read_memberships` and `read_contacts` scope.
        schema:
          type: array
          items:
            type: string
            enum:
            - attendee
      security:
      - OAuth2:
        - read_event_attendances
      tags:
      - Event
      responses:
        '200':
          description: The event attendance.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-attendance'
              examples:
                default:
                  value:
                    data:
                      id: 3130b02817a5aab19255fb8f2c9d1ee3
                      type: eventAttendances
                      attributes:
                        accountingCode: EVT
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - amount: '2.0'
                            name: VAT
                            rate: '20.0'
                        visibility: public
                        numberOfAttendees: 1
                        name: Earl McBride
                        createdAt: '2024-10-27T11:48:24+01:00'
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
                        attendee:
                          data:
                            id: a8c12f62ac8df98d29de357180d673e1
                            type: memberships
                    included:
                    - id: a8c12f62ac8df98d29de357180d673e1
                      type: memberships
                      attributes:
                        name: Jane Fonda
                        email: foksol@di.es
                        phone: (746) 760-3432
                        company: null
                        confirmedAt: '2020-02-01'
                        canceledAt: null
                        photo:
                          thumb:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/thumb_photo.png
                            width: 50
                            height: 50
                          small:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/small_photo.png
                            width: 120
                            height: 120
                          large:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/large_photo.png
                            width: 285
                            height: 285
                          xlarge:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/xlarge_photo.png
                            width: 600
                            height: 600
                          hd:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/hd_photo.png
                            width: 1200
                            height: 1200
                      relationships:
                        space:
                          data:
                            id: c9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        team:
                          data:
                            id: 4db23e1a-62a6-5115-8034-fc18b13bffac
                            type: teams
    delete:
      summary: Unattend event
      description: 'Unattend an event as member. This refunds the ticket price

        if applicable.


        **Access**: The current user must be connected to the

        membership the attendance belongs to.

        '
      operationId: unattend-event
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event attendance to delete.
        schema:
          type: string
      security:
      - OAuth2:
        - write_event_attendances
      tags:
      - Event
      responses:
        '204':
          description: Attendance deleted.
        '409':
          description: In case event was not attended or has already started.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: You are not attending the event / Event has already started.
  /events/{id}/attendances:
    get:
      summary: List attendances
      description: 'List all the attendances for an event. Attendances connect an

        event with a membership or contact and can have an optional price.


        **Access**: The current user must be an admin or member of the space the event belongs to.

        '
      operationId: list-event-attendances
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event.
        schema:
          type: string
      - name: include
        in: query
        style: form
        explode: false
        required: false
        description: Include attendees. Requires `read_memberships` scope.
        schema:
          type: array
          items:
            type: string
            enum:
            - attendee
      security:
      - OAuth2:
        - read_event_attendances
      tags:
      - Event
      responses:
        '200':
          description: The list of attendances with included attendees (memberships or contacts).
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-attendances'
              examples:
                default:
                  value:
                    data:
                    - id: 3130b02817a5aab19255fb8f2c9d1ee3
                      type: eventAttendances
                      attributes:
                        accountingCode: EVT
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - amount: '2.0'
                            name: VAT
                            rate: '20.0'
                        visibility: public
                        numberOfAttendees: 1
                        name: Earl McBride
                        createdAt: '2024-10-27T11:48:24+01:00'
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
                        attendee:
                          data:
                            id: a8c12f62ac8df98d29de357180d673e1
                            type: memberships
                    - id: abcdb02817a5aab19255fb8f2c9d1ee3
                      type: eventAttendances
                      attributes:
                        accountingCode: EVT
                        price:
                          net: '20.0'
                          gross: '24.0'
                          currency: EUR
                          taxes:
                          - amount: '4.0'
                            name: VAT
                            rate: '20.0'
                        visibility: public
                        numberOfAttendees: 2
                        name: Earl McBride
                        createdAt: '2024-10-27T11:48:24+01:00'
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
                        attendee:
                          data:
                            id: 24c12f62ac8df98d29de357180d673e1
                            type: contacts
                    included:
                    - id: a8c12f62ac8df98d29de357180d673e1
                      type: memberships
                      attributes:
                        name: Jane Fonda
                        email: foksol@di.es
                        phone: (746) 760-3432
                        company: null
                        confirmedAt: '2020-02-01'
                        canceledAt: null
                        photo:
                          thumb:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/thumb_photo.png
                            width: 50
                            height: 50
                          small:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/small_photo.png
                            width: 120
                            height: 120
                          large:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/large_photo.png
                            width: 285
                            height: 285
                          xlarge:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/xlarge_photo.png
                            width: 600
                            height: 600
                          hd:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/hd_photo.png
                            width: 1200
                            height: 1200
                      relationships:
                        space:
                          data:
                            id: c9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        team:
                          data:
                            id: 4db23e1a-62a6-5115-8034-fc18b13bffac
                            type: teams
                    - id: 24c12f62ac8df98d29de357180d673e1
                      type: contacts
                      attributes:
                        email: jane@example.com
                        phone: 555-55-355
                        address:
                          name: Jane Smitherson
                          company: ACME Inc.
                          fullAddress: 3 Coworking Road
                        photo:
                          thumb:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/thumb_photo.png
                            width: 50
                            height: 50
                          small:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/small_photo.png
                            width: 120
                            height: 120
                          large:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/large_photo.png
                            width: 285
                            height: 285
                          xlarge:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/xlarge_photo.png
                            width: 600
                            height: 600
                          hd:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/hd_photo.png
                            width: 1200
                            height: 1200
                      relationships:
                        space:
                          data:
                            id: c9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        membership:
                          data:
                            id: e0c19a71ac8df98d29de357180d27339
                            type: memberships
  /event_messages:
    post:
      summary: Create message
      description: 'Create a message for an event.

        Messages are sent by email based on triggers such as someone attending an event.


        **Access**: The current user must be an admin of the space.

        '
      operationId: create-event-messages
      security:
      - OAuth2:
        - write_event_messages
      tags:
      - Event
      requestBody:
        description: Message to be created for an event.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-event-message'
            examples:
              default:
                value:
                  data:
                    type: eventMessages
                    attributes:
                      trigger: attended
                      body: This is what you need to know.
                    relationships:
                      event:
                        data:
                          id: b8f21a71ac8df98d29de357180d27358
                          type: events
      responses:
        '201':
          description: The created message.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-message'
              examples:
                default:
                  value:
                    data:
                      id: 3910b02817a5aab19255fb8f2c9d1ea3
                      type: eventMessages
                      attributes:
                        trigger: attended
                        body: This is what you need to know.
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
  /event_messages/{id}:
    get:
      summary: Single message
      description: 'Returns a message for an event.


        **Access**: The current user must be an admin of the space.

        '
      operationId: get-event-message
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the message.
        schema:
          type: string
      security:
      - OAuth2:
        - read_event_messages
      tags:
      - Event
      responses:
        '200':
          description: The message.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-message'
              examples:
                default:
                  value:
                    data:
                      id: 3910b02817a5aab19255fb8f2c9d1ea3
                      type: eventMessages
                      attributes:
                        trigger: attended
                        body: This is what you need to know.
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
    patch:
      summary: Update message
      description: 'Updates a message.


        **Access**: The current user must be an admin of the space.

        '
      operationId: update-event-message
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the message.
        schema:
          type: string
      security:
      - OAuth2:
        - write_event_messages
      tags:
      - Event
      requestBody:
        description: The message content to update.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update-event-message'
            examples:
              default:
                value:
                  data:
                    id: 3910b02817a5aab19255fb8f2c9d1ea3
                    type: eventMessages
                    attributes:
                      body: This is what you also need to know.
      responses:
        '200':
          description: The updated message.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-message'
              examples:
                default:
                  value:
                    data:
                      id: 3910b02817a5aab19255fb8f2c9d1ea3
                      type: eventMessages
                      attributes:
                        trigger: attended
                        body: This is what you also need to know.
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
    delete:
      summary: Delete message
      description: 'Delete a message.


        **Access**: The current user must be an admin of the space.

        '
      operationId: delete-event-message
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the message.
        schema:
          type: string
      security:
      - OAuth2:
        - write_event_messages
      tags:
      - Event
      responses:
        '204':
          description: The message was deleted.
  /events/{id}/messages:
    get:
      summary: List messages
      description: 'Returns the messages for an event.


        **Access**: The current user must be an admin of the space.

        '
      operationId: get-event-event-messages
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event.
        schema:
          type: string
      security:
      - OAuth2:
        - read_event_messages
      tags:
      - Event
      responses:
        '200':
          description: The messages associated with the event.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-messages'
              examples:
                default:
                  value:
                    data:
                    - id: 3910b02817a5aab19255fb8f2c9d1ea3
                      type: eventMessages
                      attributes:
                        trigger: attended
                        body: This is what you need to know.
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
  /events/{id}/publication:
    post:
      summary: Publish as admin
      description: 'Publish an event as an admin. To become visible to members, events

        have to be published. This changes the `publishedState` of the event

        from `draft` to `published`.


        **Access**: The current user must be an admin of the space.

        '
      operationId: publish-admin-event
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event to publish.
        schema:
          type: string
      security:
      - OAuth2:
        - write_events
      tags:
      - Event
      responses:
        '201':
          description: Published event
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        visitorPrice: null
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        visitorCostCenter: null
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorRevenueAccount: null
                        audience: membersOnly
                        color: '#FF0000'
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                        - party
                        videoUrl: null
                        capacity: 85
                        canDepublish: true
                        publishedState: published
                        publicPage: true
                        publicUrl: https://demo.cobot.me/event/2018-01-01-12-00-launch-party
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                          - id: 419cabc7547473ea91762671f4641701
                            type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                          - id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
        '409':
          description: In case event was already published.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: Event is already published.
                      source:
                        pointer: /data/attributes/publishedState
    delete:
      summary: Depublish as admin
      description: 'Depublish an event as an admin. This changes the `publishedState` of the event

        from `published` to `draft` and members cannot see the event anymore.


        **Access**: The current user must be an admin of the space.

        '
      operationId: depublish-admin-event
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the event to depublish.
        schema:
          type: string
      security:
      - OAuth2:
        - write_events
      tags:
      - Event
      responses:
        '200':
          description: Depublished event
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        visitorPrice: null
                        expectedRevenue:
                        - net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                        - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                          - id: 419cabc7547473ea91762671f4641701
                            type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                          - id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
        '409':
          description: In case event was already not published.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: Event is already not published.
                      source:
                        pointer: /data/attributes/publishedState
  /event_ticket_purchases:
    post:
      summary: Create an event ticket purchase
      description: 'A purchase of event tickets, currently only supports buying one ticket at a time.

        This is for visitors / non-members attending events.


        **Access**: Any user can create an event ticket purchase.

        '
      operationId: create-event-ticket-purchase
      security:
      - OAuth2:
        - write_event_ticket_purchases
      tags:
      - Event
      responses:
        '201':
          description: The created event ticket purchase.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-ticket-purchase'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: eventTicketPurchases
                      attributes:
                        acceptedTerms: true
                        comments: Looking forward to seeing your space!
                        name: Earl McBride
                        company: ACME Inc.
                        email: hello@example.com
                        phone: (959) 645-9532
                        taxId: 12345678A
                        billingAddress: 123 Main St\nSpringfield, IL, 12345
                        structuredBillingAddress:
                          name: Earl McBride
                          company: ACME Inc.
                          fullAddress: 123 Main St\nSpringfield, IL, 12345
                          street: 123 Main St
                          postCode: '12345'
                          city: Springfield
                          state: IL
                          countryCode: US
                        price:
                          net: '986.0'
                          gross: '1089.53'
                          currency: EUR
                          taxes:
                          - name: Main Tax
                            rate: '10.5'
                            amount: '103.53'
                      relationships:
                        attendances:
                          data:
                          - id: b8f21a71ac8df98d29de357180d27358
                            type: attendances
                        paymentMethod:
                          data:
                            id: 25fc37c06c4a183ea17ada5306725705
                            type: paymentMethods
                        invoices:
                          data:
                          - id: a07fed27-b35b-5c67-8367-3e52c397c528
                            type: invoices
                        space:
                          data:
                            id: 99a12ca68b5e6bc9007890854kd368f2
                            type: spaces
        '422':
          description: 'When sending a payment and capturing the payment fails, an error is returned.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: Payment could not be captured.
      requestBody:
        description: Data needed to create an event ticket purchase.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-event-ticket-purchase'
            examples:
              default:
                value:
                  data:
                    type: eventTicketPurchases
                    attributes:
                      eventTickets:
                      - type: eventTickets
                        attributes:
                          numberOfTickets: 1
                        relationships:
                          event:
                            data:
                              id: aeb19e5a78cc64be5056f6ef9a44f7d5
                              type: events
                      acceptedTerms: true
                      name: Earl McBride
                      company: ACME Inc
                      billingAddress:
                        name: Earl McBride
                        company: ACME Inc.
                        street: 123 Main St
                        postCode: '12345'
                        city: Springfield
                        state: IL
                        countryCode: US
                      phone: (959) 645-9532
                      taxId: 123456789A
                      email: fe@haos.eg
                      comments: we need catering
                    relationships:
                      payment:
                        data:
                          id: jd73gf5a78cc64be5056f6ef9a44fuzt
                          type: payments
  /spaces/{spaceId}/events:
    get:
      summary: List events
      description: 'List/filter events for a time range.

        **Access**: Any user can see the list of events. Only admins of the space can see draft events.

        '
      operationId: list-events
      security:
      - OAuth2:
        - read_events
      tags:
      - Event
      parameters:
      - name: spaceId
        in: path
        required: true
        description: The id of the space to get the events for.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: 'List of related resources to include in response as comma separated string.


          Including `attendances.attendee` will also return `attendances`.

          A maximum of 5 attendances per event is returned. If the current user is attending,

          their attendance will be included in the 5. The full count is returned in the meta section.


          Including `attendances` requires the `read_event_attendances` scope.

          Including `attendances.attendee` requires the `read_event_attendances` and `read_memberships` scopes.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - attendances
            - attendances.attendee
      - name: filter[from]
        in: query
        required: true
        description: The start of the time range.
        schema:
          type: string
          format: date-time
        example: '2012-04-12T10:00:00Z'
      - name: filter[to]
        in: query
        required: true
        description: The end of the time range.
        schema:
          type: string
          format: date-time
        example: '2012-04-30T23:59:59Z'
      - name: filter[publishedState]
        in: query
        example: draft,published
        required: true
        style: form
        explode: false
        description: 'Return draft/published events. Pass a comma separated list of states.

          Only admins can request draft events.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - draft
            - published
      - name: filter[tags]
        in: query
        required: false
        description: 'Comma separated list of tags to filter events by.

          To include events with no tags pass an empty

          tag (alone: `filter[tags]=`, with other tags: `filter[tags]=tag1,,tag2`).

          When this parameter is left out, events with any or no tags are returned.

          '
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example: party,free
      - name: filter[resourceIds]
        in: query
        required: false
        style: form
        explode: false
        description: 'Filter events by the resources they use (list of resource ids separated by commas).

          To include events with no resources pass an empty resource id

          (alone: `filter[resourceIds]=`, with other ids: `filter[resourceIds]=r1,,r2`).

          When this parameter is left out, events with any or no resources are returned.

          '
        schema:
          type: array
          items:
            type: string
        example: a4a99a71ac8df98d29de357180d273d3,13b73f71ac8df98129de357180d219a6
      - name: filter[attendeeIds]
        in: query
        required: false
        style: form
        explode: false
        description: Filter events by who is attending. Pass a comma separated list of ids (for now only membership ids).
        schema:
          type: array
          items:
            type: string
        example: c2a99a71ac8df98d29de357180d273d2,9a673f71ac8df98129de357180d219a8
      - name: filter[sortOrder]
        in: query
        required: false
        description: Whether to sort events by date ascending or descending.
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Event list according to search filter.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/events'
              examples:
                default:
                  value:
                    data:
                    - id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        visitorPrice: null
                        expectedRevenue:
                        - net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                        - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                          - id: 419cabc7547473ea91762671f4641701
                            type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                          - id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                with_attendees_included:
                  value:
                    data:
                    - id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        visitorPrice: null
                        expectedRevenue:
                        - net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - rate: '20.0'
                            name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                        - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                          data:
                          - id: 3130b02817a5aab19255fb8f2c9d1ee3
                            type: eventAttendances
                          meta:
                            count: 1
                        bookings:
                          data:
                          - id: 419cabc7547473ea91762671f4641701
                            type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                          - id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                    included:
                    - id: 3130b02817a5aab19255fb8f2c9d1ee3
                      type: eventAttendances
                      attributes:
                        accountingCode: EVT
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                          - amount: '2.0'
                            name: VAT
                            rate: '20.0'
                        visibility: public
                        numberOfAttendees: 1
                        name: Earl McBride
                        createdAt: '2024-10-27T11:48:24+01:00'
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
                        attendee:
                          data:
                            id: a8c12f62ac8df98d29de357180d673e1
                            type: memberships
                    - id: a8c12f62ac8df98d29de357180d673e1
                      type: memberships
                      attributes:
                        name: Jane Fonda
                        email: foksol@di.es
                        phone: (746) 760-3432
                        company: null
                        confirmedAt: '2020-02-01'
                        canceledAt: null
                        photo:
                          thumb:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/thumb_photo.png
                            width: 50
                            height: 50
                          small:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/small_photo.png
                            width: 120
                            height: 120
                          large:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/large_photo.png
                            width: 285
                            height: 285
                          xlarge:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/xlarge_photo.png
                            width: 600
                            height: 600
                          hd:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/hd_photo.png
                            width: 1200
                            height: 1200
                      relationships:
                        space:
                          data:
                            id: c9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        team:
                          data:
                            id: 4db23e1a-62a6-5115-8034-fc18b13bffac
                            type: teams
  /spaces/{spaceId}/events/tags:
    get:
      summary: List Tags
      description: 'List the most popular tags used when creating events. Returns tags for events

        with the start or end date within specified time range (last 365 days by default).

        **Access**: The current user must be an admin or member of the space. If the

        space is part of a network, the user must be an admin or member of any

        space in the network.

        '
      operationId: list-event-tags
      security:
      - OAuth2:
        - read_events
      tags:
      - Event
      parameters:
      - name: spaceId
        in: path
        required: true
        description: The id of the space to get the event tags for.
        schema:
          type: string
      - name: filter[from]
        in: query
        required: false
        description: The start of the time range. If omitted, 12 months ago.
        schema:
          type: string
          format: date-time
        example: '2012-01-01T00:00:00Z'
      - name: filter[to]
        in: query
        required: false
        description: The end of the time range. If omitted, now.
        schema:
          type: string
          format: date-time
        example: '2012-06-30T23:59:59Z'
      responses:
        '200':
          description: A list of the 20 most popular tags used for events in the space.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-tags'
              examples:
                default:
                  value:
                    data:
                    - id: 28ef9e2617065920faa4b39892645121
                      type: eventTags
                      attributes:
                        name: Party
components:
  schemas:
    price:
      description: Price including net/gross value and all taxes.
      type: object
      required:
      - net
      - gross
      - currency
      - taxes
      additionalProperties: false
      properties:
        net:
          $ref: '#/components/schemas/decimal'
        gross:
          $ref: '#/components/schemas/decimal'
        currency:
          $ref: '#/components/schemas/currency'
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/tax'
    related-link:
      type: object
      required:
      - links
      additionalProperties: false
      properties:
        links:
          type: object
          required:
          - related
          additionalProperties: false
          properties:
            related:
              type: string
              format: uri-reference
    update-event:
      id: update-event.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - id
          - type
          additionalProperties: false
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - events
            attributes:
              type: object
              additionalProperties: false
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                title:
                  type: string
                audience:
                  type: string
                  enum:
                  - membersOnly
                  - public
                description:
                  oneOf:
                  - type: string
                  - type: 'null'
                color:
                  oneOf:
                  - $ref: '#/components/schemas/color'
                  - type: 'null'
                videoUrl:
                  description: Video stream/call URL for online events.
                  oneOf:
                  - type: string
                  - type: 'null'
                publicPage:
                  type: boolean
                  description: Whether to provide a publicly accessible event page.
                image:
                  oneOf:
                  - type: 'null'
                  - type: object
                    required:
                    - data
                    additionalProperties: false
                    properties:
                      data:
                        description: The image as data uri (content type + base64 encoded data)
                        type: string
                        pattern: ^data:image/\w+;base64,\S+$
                location:
                  oneOf:
                  - type: string
                  - type: 'null'
                capacity:
                  description: How many people can attend/tickets will be sold.
                  oneOf:
                  - type: integer
                    minimum: 1
                  - type: 'null'
                tags:
                  type: array
                  items:
                    type: string
                price:
                  description: Price for one ticket. Can be passed either as net or gross value.
                  oneOf:
                  - $ref: '#/components/schemas/net-amount-with-currency'
                  - $ref: '#/components/schemas/gross-amount-with-currency'
                  - type: 'null'
                visitorPrice:
                  description: Price for one ticket for a visitor, if visitors should pay a different price than members. Can be passed either as net or gross value.
                  oneOf:
                  - $ref: '#/components/schemas/net-amount-with-currency'
                  - $ref: '#/components/schemas/gross-amount-with-currency'
                  - type: 'null'
                accountingCode:
                  oneOf:
                  - type: string
                  - type: 'null'
                visitorAccountingCode:
                  oneOf:
                  - type: string
                  - type: 'null'
                costCenter:
                  oneOf:
                  - $ref: '#/components/schemas/cost-center'
                  - type: 'null'
                revenueAccount:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/revenue-account'
                visitorCostCenter:
                  oneOf:
                  - $ref: '#/components/schemas/cost-center'
                  - type: 'null'
                visitorRevenueAccount:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/revenue-account'
            relationships:
              type: object
              additionalProperties: false
              properties:
                resources:
                  $ref: '#/components/schemas/event-resources'
    meta:
      description: Non-standard meta-information that can not be represented as an attribute or relationship.
      type: object
      additionalProperties: true
    -event-message-data:
      id: -event-message-data.json
      type: object
      required:
      - id
      - type
      - attributes
      - relationships
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - eventMessages
        attributes:
          type: object
          required:
          - trigger
          - body
          additionalProperties: false
          properties:
            trigger:
              type: string
              enum:
              - attended
              - published
            body:
              type: string
        relationships:
          type: object
          additionalProperties: false
          required:
          - event
          properties:
            event:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - events
    avatar-photo:
      type: object
      properties:
        thumb:
          $ref: '#/components/schemas/photo'
        small:
          $ref: '#/components/schemas/photo'
        large:
          $ref: '#/components/schemas/photo'
        xlarge:
          $ref: '#/components/schemas/photo'
        hd:
          $ref: '#/components/schemas/photo'
      additionalProperties: false
    invoiceAddress:
      type: object
      additionalProperties: false
      required:
      - name
      - company
      - fullAddress
      - city
      - postCode
      - state
      - street
      - countryCode
      properties:
        name:
          oneOf:
          - type: string
          - type: 'null'
        company:
          oneOf:
          - type: string
          - type: 'null'
        fullAddress:
          type: string
        street:
          oneOf:
          - type: string
          - type: 'null'
        postCode:
          oneOf:
          - type: string
          - type: 'null'
        city:
          oneOf:
          - type: string
          - type: 'null'
        state:
          oneOf:
          - type: string
          - type: 'null'
        countryCode:
          oneOf:
          - type: string
          - type: 'null'
        latitude:
          type: number
        longitude:
          type: number
      dependencies:
        latitude:
        - longitude
        longitude:
        - latitude
    pagination-meta:
      type: object
      additionalProperties: false
      properties:
        totalPages:
          type: number
        currentPage:
          type: number
    color:
      description: 'Color hex code, e.g. #FF0000'
      type: string
      pattern: ^#[a-fA-F0-9]{6}$
    create-event-attendance:
      id: create-event-attendance.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - type
          - relationships
          additionalProperties: false
          properties:
            type:
              type: string
              enum:
              - eventAttendances
            attributes:
              type: object
              additionalProperties: false
              properties:
                visibility:
                  description: Who can see the attendance/attendee data. Default is admins.
                  type: string
                  enum:
                  - admins
                  - members
                  - public
            relationships:
              type: object
              additionalProperties: false
              required:
              - event
              - attendee
              properties:
                attendee:
                  type: object
                  additionalProperties: false
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - id
                      - type
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - memberships
                event:
                  type: object
                  additionalProperties: false
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - id
                      - type
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - events
    -event-attendance-data:
      id: -event-attendance-data.json
      type: object
      required:
      - id
      - type
      - attributes
      - relationships
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - eventAttendances
        attributes:
          type: object
          required:
          - price
          - accountingCode
          - visibility
          - createdAt
          - numberOfAttendees
          - name
          additionalProperties: false
          properties:
            createdAt:
              type: string
              format: date-time
            price:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/price'
            accountingCode:
              oneOf:
              - type: string
              - type: 'null'
            numberOfAttendees:
              type: integer
              minimum: 1
            visibility:
              description: Who can see the attendance/attendee data. Default is admins.
              type: string
              enum:
              - admins
              - members
              - public
            name:
              oneOf:
              - type: string
              - type: 'null'
        relationships:
          type: object
          required:
          - attendee
          - event
          additionalProperties: false
          properties:
            event:
              type: object
              required:
              - data
              additionalProperties: false
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - events
            attendee:
              type: object
              required:
              - data
              additionalProperties: false
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - memberships
                      - contacts
    event:
      id: event.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/-event-data'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/-membership-data'
            - $ref: '#/components/schemas/-event-attendance-data'
    address:
      type: object
      additionalProperties: false
      properties:
        name:
          oneOf:
          - type: string
          - type: 'null'
        company:
          oneOf:
          - type: string
          - type: 'null'
        fullAddress:
          type: string
          description: Only admins can see it.
    currency:
      description: ISO 4217 3 letter currency code.
      type: string
      pattern: ^[A-Z]{3}$
    -event-ticket-purchase-data:
      id: -event-ticket-purchase-data.json
      type: object
      required:
      - id
      - type
      - attributes
      - relationships
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - eventTicketPurchases
        attributes:
          type: object
          required:
          - acceptedTerms
          - name
          - billingAddress
          - price
          - company
          - email
          - comments
          - phone
          - taxId
          additionalProperties: false
          properties:
            price:
              $ref: '#/components/schemas/price'
            acceptedTerms:
              type: boolean
              enum:
              - true
            name:
              type: string
            company:
              type:
              - string
              - 'null'
            billingAddress:
              type: string
            structuredBillingAddress:
              $ref: '#/components/schemas/invoiceAddress'
            email:
              $ref: '#/components/schemas/email'
            comments:
              type:
              - string
              - 'null'
            phone:
              type:
              - string
              - 'null'
            taxId:
              type:
              - string
              - 'null'
        relationships:
          type: object
          additionalProperties: false
          required:
          - attendances
          - space
          - invoices
          - paymentMethod
          properties:
            attendances:
              $ref: '#/components/schemas/relationship-linkage-array'
            invoices:
              $ref: '#/components/schemas/relationship-linkage-array'
            paymentMethod:
              $ref: '#/components/schemas/optional-relationship-linkage'
            space:
              $ref: '#/components/schemas/relationship-linkage'
    photo:
      type: object
      properties:
        url:
          type: string
          format: uri-reference
        width:
          type: number
        height:
          type: number
      additionalProperties: false
    -membership-data:
      id: -membership-data.json#
      type: object
      required:
      - id
      - type
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - memberships
        attributes:
          type: object
          additionalProperties: false
          properties:
            name:
              oneOf:
              - type: string
              - type: 'null'
            email:
              oneOf:
              - type: string
              - type: 'null'
            phone:
              oneOf:
              - type: string
              - type: 'null'
            company:
              oneOf:
              - type: string
              - type: 'null'
            confirmedAt:
              oneOf:
              - $ref: '#/components/schemas/date'
              - type: 'null'
            canceledAt:
              oneOf:
              - $ref: '#/components/schemas/date'
              - type: 'null'
            photo:
              oneOf:
              - $ref: '#/components/schemas/avatar-photo'
              - type: 'null'
        relationships:
          type: object
          additionalProperties: false
          required:
          - space
          properties:
            bookingCredits:
              $ref: '#/components/schemas/related-link'
            space:
              type: object
              additionalProperties: false
              properties:
                data:
                  $ref: '#/components/schemas/linkage'
            team:
              type: object
              additionalProperties: false
              properties:
                data:
                  $ref: '#/components/schemas/linkage'
    linkage:
      description: The "type" and "id" of a linked entity.
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
        id:
          type: string
      additionalProperties: false
    event-message:
      id: event-message.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/-event-message-data'
    failure:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          uniqueItems: true
        meta:
          $ref: '#/components/schemas/meta'
        jsonapi:
          $ref: '#/components/schemas/jsonapi'
        links:
          $ref: '#/components/schemas/links'
      additionalProperties: false
    event-message-trigger:
      type: string
      enum:
      - attended
      - published
      description: What triggers the message to be sent. The 'published' trigger will send a message to all members when an event is published. If no `published` message is created, no message is sent to members. The 'attended' trigger will send a message to an attendee right after they attended an event. If no `attended` message is created, a generic message is sent to new attendees. More triggers will be available in the future.
    relationship-linkage:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/linkage'
    update-event-message:
      id: update-event-message.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - id
          - type
          - attributes
          additionalProperties: false
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - eventMessages
            attributes:
              type: object
              additionalProperties: false
              properties:
                trigger:
                  $ref: '#/components/schemas/event-message-trigger'
                body:
                  $ref: '#/components/schemas/event-message-body'
    decimal:
      description: A decimal number.
      type: string
      pattern: ^-?\d+(\.\d+)?$
    email:
      type: string
      pattern: ^[^@]+@([\w-]+\.)+[a-zA-Z]+$
    link:
      description: 'A link **MUST** be represented as either: a string containing the link''s URL or a link object.'
      oneOf:
      - description: A string containing the link's URL.
        type: string
        format: uri-reference
      - type: object
        required:
        - href
        properties:
          href:
            description: A string containing the link's URL.
            type: string
            format: uri-reference
          meta:
            $ref: '#/components/schemas/meta'
    event-attendances:
      id: event-attendances.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/-event-attendance-data'
        meta:
          $ref: '#/components/schemas/pagination-meta'
        links:
          $ref: '#/components/schemas/pagination-links'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/-membership-data'
            - $ref: '#/components/schemas/-contact-data'
    links:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/link'
    event-attendance:
      id: event-attendance.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/-event-attendance-data'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/-membership-data'
            - $ref: '#/components/schemas/-contact-data'
    optional-relationship-linkage:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          oneOf:
          - $ref: '#/components/schemas/linkage'
          - type: 'null'
    event-ticket-purchase:
      id: event-ticket-purchase.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/-event-ticket-purchase-data'
    event-message-body:
      type: string
      description: A custom, plain-text message added to the auto-generated email.
    revenue-account:
      type: object
      additionalProperties: false
      required:
      - name
      - number
      properties:
        name:
          type: string
        number:
          type: string
    create-event:
      id: create-event.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          additionalProperties: false
          properties:
            type:
              type: string
              enum:
              - events
            attributes:
              type: object
              required:
              - title
              - from
              - to
              - audience
              additionalProperties: false
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                title:
                  type: string
                audience:
                  type: string
                  enum:
                  - membersOnly
                  - public
                description:
                  oneOf:
                  - type: string
                  - type: 'null'
                color:
                  oneOf:
                  - $ref: '#/components/schemas/color'
                  - type: 'null'
                videoUrl:
                  description: Video stream/call URL for online events.
                  oneOf:
                  - type: string
                  - type: 'null'
                publicPage:
                  type: boolean
                  description: Whether to provide a publicly accessible event page.
                image:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/image-upload'
                location:
                  oneOf:
                  - type: string
                  - type: 'null'
                capacity:
                  description: How many people can attend/tickets will be sold.
                  oneOf:
                  - type: integer
                    minimum: 1
                  - type: 'null'
                tags:
                  type: array
                  items:
                    type: string
                price:
                  description: Price for one ticket. Can be passed either as net or gross value.
                  oneOf:
                  - $ref: '#/components/schemas/net-amount-with-currency'
                  - $ref: '#/components/schemas/gross-amount-with-currency'
[...]
