openapi: 3.2.0
info:
  title: Cobot External Booking API
  termsOfService: https://www.cobot.me/terms
  x-logo:
    url: /api2_logo.webp
    backgroundColor: '#FFFFFF'
    altText: Cobot logo
  description: "This is the 2.0 version of the Cobot API. You can find version 1.0\nas well as various tutorials under [/api-docs](/api-docs).\n\n## JSON API\n\nThis API follows the [JSON API](http://jsonapi.org) standard. This means:\n\n* requests and responses are sent in JSON\n* all requests MUST send a `Accept: application/vnd.api+json` header\n* non-GET requests MUST send a `Content-Type: application/vnd.api+json` header\n* all responses send a `Content-Type: application/vnd.api+json` header\n* all JSON formats are standardized (requests, responses, errors)\n\n## Cross-Origin Resource Sharing (CORS)\n\nAll endpoints send [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)\nheaders so that the API can be used from within browsers.\n\n## Rate Limiting\n\nIn general, the rate limit for an endpoint is 60 requests per minute per user.\nIf applicable, alternative limits are given in the documentation for\nparticular endpoints.\n\nIf you've exceeded the limit, Cobot will return a 429 status code and a JSON\nerror message. The response will also contain a *Retry-After* header, this\ndenotes the number of seconds to wait before your client may retry.\n\n## Times and Dates\n\nTimes and Dates must be in ISO 8601 formats. e.g. date: `2021-01-07`, datetime: `2021-01-07T16:25:51Z`,  time: `16:25:51`.\nMillisecond are ommited, so `16:25:51.811` will become `16:25:51`.\nTime zone offsets must be provided by the client, e.g. `16:25:51+02:00` or '16:25:51Z' for UTC.\n\nTimes are always returned in UTC.\n## Sparse Fieldsets\n\nThis API supports [sparse fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets),\nso clients can request which attributes they are interested in.\n\nExample:\n```\nGET https://api.cobot.me/user?fields[users]=email\n```\nThis will only return the user's email.\n\n## Query params\n\nWhen passing query params, arrays of data are expected to be sent as a string of comma separated values.\n\n## Pagination\n\nAll collections are paginated. Pagination follows [JSON-API standards](https://jsonapi.org/format/#fetching-pagination).\n\nExample:\n```json\n{\n  \"meta\": {\n    \"totalPages\": 2,\n    \"currentPage\": 1\n  },\n  \"data\": [{\n    \"id\": \"1\",\n    \"type\": \"users\",\n  }],\n  \"links\": {\n    \"self\": \"/users?page[size]=100&page[number]=1\",\n    \"first\": \"/users?page[size]=100&page[number]=1\",\n    \"prev\": null,\n    \"next\": \"/users?page[size]=100&page[number]=2\",\n    \"last\": \"/users?page[size]=100&page[number]=1\"\n  }\n}\n```\n\nDefault page size is 72 and can be changed by passing a `page[size]` parameter. Maximum page size is 200.\n\n## Errors\n\nWhen a client sends invalid data in a request, Cobot returns a\n422 status code and a JSON-API error response.\n\nExample:\n```json\n{\n  \"errors\": [\n    {\n      \"source\": {\n        \"pointer\": \"/data/attributes/name\"\n      },\n      \"detail\": \"can't be blank\"\n    },\n    {\n      \"source\": {\n        \"pointer\": \"/data/attributes/password\"\n      },\n      \"detail\": \"is too short\"\n    }\n  ]\n}\n```\n"
  version: '2.0'
  contact:
    name: Cobot Support
    url: https://dev.cobot.me/
    email: support@cobot.me
servers:
- url: https://api.cobot.me
security:
- OAuth2: []
tags:
- name: External Booking
  description: 'After a resource has been enabled for external booking (see _External Resource_) it can be

    booked by visitors (non-members) using external booking endpoints.

    Making an external booking also results in a Booking to be created.

    '
paths:
  /external_bookings:
    post:
      summary: Create
      description: 'Create an external booking.


        **Access**: Any user can create external bookings.

        '
      operationId: create-external-booking
      security:
      - OAuth2:
        - write_external_bookings
      tags:
      - External Booking
      responses:
        '201':
          description: The created booking.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: externalBookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: Company Retreat
                        price:
                          net: '10.0'
                          gross: '11.0'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.0'
                            name: VAT
                        totalPrice:
                          net: '11.0'
                          gross: '12.1'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.1'
                            name: VAT
                        numberOfVisitors: 1
                        acceptedTerms: true
                        name: Earl McBride
                        company: ACME Inc.
                        billingAddress: 1422 Nuede Extension\nSpringfield, IL, 12345
                        structuredBillingAddress:
                          name: Earl McBride
                          company: ACME Inc.
                          fullAddress: 1422 Nuede Extension\nSpringfield, IL, 12345
                          street: 1422 Nuede Extension
                          postCode: '12345'
                          city: Springfield
                          state: IL
                          countryCode: US
                        taxId: 123456789A
                        phone: (959) 645-9532
                        email: fe@haos.eg
                        comments: we need catering
                        adminComments: make sure to air the room before
                        status: approved
                        accountingCode: EB1
                        canUpdate: true
                        discount:
                          code: SUMMER2024
                          name: Summer Sale
                          value: '10.0'
                          unit: percentage
                          amounts:
                          - net: '1.1'
                            gross: '1.21'
                            currency: EUR
                            taxes:
                            - rate: '10.0'
                              amount: '0.11'
                              name: VAT
                        bookingExtras:
                        - name: Cup of coffee
                          accountingCode: coffee1
                          description: Hot
                          id: extra-uuid-1234
                          productId: a1b2c3d4e5f6
                          pricing:
                            amount:
                              net: '1.0'
                              gross: '1.1'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.1'
                                name: VAT
                            totalAmount:
                              net: '2.0'
                              gross: '2.2'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.2'
                                name: VAT
                            quantity: '2.0'
                            unit: item
                      relationships:
                        paymentMethod:
                          data: null
                        resource:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: externalResources
                        space:
                          data:
                            id: 99a12ca68b5e6bc9007890854kd368f2
                            type: spaces
                        invoices:
                          data:
                          - id: a07fed27-b35b-5c67-8367-3e52c397c528
                            type: invoices
                        contact:
                          data:
                            id: u2374d68h2j067d708qhj6whgn372872
                            type: contacts
        '400':
          description: 'The booking''s resource is not bookable.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: Resource is not bookable.
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
        '422':
          description: 'When sending a payment and capturing the payment fails, an error is returned.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: Payment could not be captured.
      requestBody:
        description: Booking data needed to make the booking.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-external-booking'
            examples:
              default:
                value:
                  data:
                    type: externalBookings
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      title: Company Retreat
                      numberOfVisitors: 1
                      acceptedTerms: true
                      name: Earl McBride
                      company: ACME Inc.
                      billingAddress:
                        name: Earl McBride
                        company: ACME Inc.
                        street: 123 Main St
                        postCode: '12345'
                        city: Springfield
                        state: IL
                        countryCode: US
                      taxId: 123456789A
                      phone: (959) 645-9532
                      email: fe@haos.eg
                      comments: we need catering
                      adminComments: make sure to air the room before
                      bookingExtras:
                      - productId: 5d2bd10cdab1647e6e49dafa319ad365
                        quantity: '2.0'
                    relationships:
                      resource:
                        data:
                          id: 89da3cb66b5e6b39007690854kd66da4
                          type: externalResources
                      discount:
                        data:
                          id: e6a53fb4a996cfa147e174e265edc5e0
                          type: discountCodes
  /external_bookings/{id}:
    get:
      summary: Single booking
      description: 'Show an external booking.


        **Access**: Any user can see external bookings.

        '
      operationId: show-external-booking
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the booking.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: 'List of related resources to include in response as comma separated string.


          Including `invoices` requires the `read_invoices` scope.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - invoices
      security:
      - OAuth2:
        - read_external_bookings
        - read_invoices
      tags:
      - External Booking
      responses:
        '200':
          description: The external booking.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: externalBookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: Company Retreat
                        price:
                          net: '10.0'
                          gross: '11.0'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.0'
                            name: VAT
                        totalPrice:
                          net: '11.0'
                          gross: '12.1'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.1'
                            name: VAT
                        numberOfVisitors: 1
                        acceptedTerms: true
                        name: Earl McBride
                        company: ACME Inc.
                        billingAddress: 1422 Nuede Extension\nSpringfield, IL, 12345
                        structuredBillingAddress:
                          name: Earl McBride
                          company: ACME Inc.
                          fullAddress: 1422 Nuede Extension\nSpringfield, IL, 12345
                          street: 1422 Nuede Extension
                          postCode: '12345'
                          city: Springfield
                          state: IL
                          countryCode: US
                        taxId: 123456789A
                        phone: (959) 645-9532
                        email: fe@haos.eg
                        comments: we need catering
                        adminComments: make sure to air the room before
                        status: approved
                        accountingCode: EB1
                        canUpdate: true
                        discount:
                          code: SUMMER2024
                          name: Summer Sale
                          value: '10.0'
                          unit: percentage
                          amounts:
                          - net: '1.1'
                            gross: '1.21'
                            currency: EUR
                            taxes:
                            - rate: '10.0'
                              amount: '0.11'
                              name: VAT
                        bookingExtras:
                        - name: Cup of coffee
                          accountingCode: coffee1
                          description: Hot
                          id: extra-uuid-1234
                          productId: a1b2c3d4e5f6
                          pricing:
                            amount:
                              net: '1.0'
                              gross: '1.1'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.1'
                                name: VAT
                            totalAmount:
                              net: '2.0'
                              gross: '2.2'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.2'
                                name: VAT
                            quantity: '2.0'
                            unit: item
                      relationships:
                        paymentMethod:
                          data: null
                        resource:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: externalResources
                        space:
                          data:
                            id: 99a12ca68b5e6bc9007890854kd368f2
                            type: spaces
                        invoices:
                          data:
                          - id: a07fed27-b35b-5c67-8367-3e52c397c528
                            type: invoices
                        contact:
                          data:
                            id: u2374d68h2j067d708qhj6whgn372872
                            type: contacts
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
    delete:
      summary: Cancel as admin
      description: 'Cancel an external booking as an admin of a space.

        The external booking is marked as canceled

        and removed from the booking calendar (i.e. from any `/bookings` endpoints).


        Past bookings can only be canceled while they are still pending.


        **Access**: The current user must be an admin of the space.

        '
      operationId: delete-external-booking
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the booking.
        schema:
          type: string
      security:
      - OAuth2:
        - write_external_bookings
      tags:
      - External Booking
      responses:
        '200':
          description: The canceled external booking.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: externalBookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        price:
                          net: '10.0'
                          gross: '11.0'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.0'
                            name: VAT
                        numberOfVisitors: 1
                        acceptedTerms: true
                        accountingCode: EB1
                        totalPrice:
                          net: '11.0'
                          gross: '12.1'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.1'
                            name: VAT
                        title: Company Retreat
                        name: Earl McBride
                        company: ACME Inc.
                        billingAddress: 1422 Nuede Extension
                        phone: (959) 645-9532
                        email: fe@haos.eg
                        comments: we need catering
                        canUpdate: false
                        status: canceled
                        canceledBy: space
                        bookingExtras:
                        - name: Cup of coffee
                          accountingCode: coffee1
                          description: Hot
                          id: extra-uuid-1234
                          productId: a1b2c3d4e5f6
                          pricing:
                            amount:
                              net: '1.0'
                              gross: '1.1'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.1'
                                name: VAT
                            totalAmount:
                              net: '2.0'
                              gross: '2.2'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.2'
                                name: VAT
                            quantity: '2.0'
                            unit: item
                      relationships:
                        paymentMethod:
                          data: null
                        resource:
                          data:
                            id: 4a7dd89e-ff9c-5efd-897a-f40fb7138594
                            type: resources
                        space:
                          data:
                            id: 99a12ca68b5e6bc9007890854kd368f2
                            type: spaces
                        invoices:
                          data:
                          - id: a07fed27-b35b-5c67-8367-3e52c397c528
                            type: invoices
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
        '409':
          description: The external booking is already canceled, or in the past and not pending.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: This external booking is already canceled.
    patch:
      summary: Update booking
      description: 'Update an external booking.


        **Access**: The current user must be an admin of the space the booking belongs to.

        '
      operationId: update-external-booking
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the booking.
        schema:
          type: string
      security:
      - OAuth2:
        - write_external_bookings
      tags:
      - External Booking
      requestBody:
        description: Booking data to update.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update-external-booking'
            examples:
              default:
                value:
                  data:
                    id: 8524f660-b2e6-583e-87ee-7c4ed4cdbfd9
                    type: externalBookings
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      title: Company Retreat
                      adminComments: make sure to air the room before
                      customPrice:
                        net: '25.5'
      responses:
        '200':
          description: The updated external booking.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: externalBookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: Company Retreat
                        price:
                          net: '10.0'
                          gross: '11.0'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.0'
                            name: VAT
                        totalPrice:
                          net: '11.0'
                          gross: '12.1'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.1'
                            name: VAT
                        numberOfVisitors: 1
                        acceptedTerms: true
                        name: Earl McBride
                        company: ACME Inc.
                        billingAddress: 1422 Nuede Extension\nSpringfield, IL, 12345
                        structuredBillingAddress:
                          name: Earl McBride
                          company: ACME Inc.
                          fullAddress: 1422 Nuede Extension\nSpringfield, IL, 12345
                          street: 1422 Nuede Extension
                          postCode: '12345'
                          city: Springfield
                          state: IL
                          countryCode: US
                        taxId: 123456789A
                        phone: (959) 645-9532
                        email: fe@haos.eg
                        comments: we need catering
                        adminComments: make sure to air the room before
                        status: approved
                        accountingCode: EB1
                        canUpdate: true
                        discount:
                          code: SUMMER2024
                          name: Summer Sale
                          value: '10.0'
                          unit: percentage
                          amounts:
                          - net: '1.1'
                            gross: '1.21'
                            currency: EUR
                            taxes:
                            - rate: '10.0'
                              amount: '0.11'
                              name: VAT
                        bookingExtras:
                        - name: Cup of coffee
                          accountingCode: coffee1
                          description: Hot
                          id: extra-uuid-1234
                          productId: a1b2c3d4e5f6
                          pricing:
                            amount:
                              net: '1.0'
                              gross: '1.1'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.1'
                                name: VAT
                            totalAmount:
                              net: '2.0'
                              gross: '2.2'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.2'
                                name: VAT
                            quantity: '2.0'
                            unit: item
                      relationships:
                        paymentMethod:
                          data: null
                        resource:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: externalResources
                        space:
                          data:
                            id: 99a12ca68b5e6bc9007890854kd368f2
                            type: spaces
                        invoices:
                          data:
                          - id: a07fed27-b35b-5c67-8367-3e52c397c528
                            type: invoices
                        contact:
                          data:
                            id: u2374d68h2j067d708qhj6whgn372872
                            type: contacts
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
  /external_bookings/{id}/cancellation:
    post:
      summary: Request cancellation
      description: 'Request to cancel an external booking as a visitor. This will not

        cancel the booking but send an email with a cancellation link

        to the email address used to make the booking.


        **Access**: Any user can request to cancel a booking.

        '
      operationId: external-booking-cancellation
      parameters:
      - name: id
        in: path
        required: true
        description: The id of the booking.
        schema:
          type: string
      security:
      - OAuth2:
        - write_external_bookings
      tags:
      - External Booking
      responses:
        '204':
          description: Confirmation email is being sent. No changes to the external booking.
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
        '409':
          description: The external booking is in the past or already canceled.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - detail: This external booking is already canceled.
  /external_bookings_preview:
    post:
      summary: Preview
      description: 'Preview creating an external booking.

        Depending on the resource pricing, returned attributes will contain either `appliedFixedRates` array, or `appliedDiscounts` and `appliedPriceCap`.


        **Access**: Any user can preview external bookings.

        '
      operationId: preview-external-booking
      security:
      - OAuth2:
        - read_external_resources
      tags:
      - External Booking
      responses:
        '200':
          description: The booking preview.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-booking-preview'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: externalBookingPreviews
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        finalPrice:
                          net: '16.0'
                          gross: '17.6'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.6'
                            name: VAT
                        fullPrice:
                          net: '30.0'
                          gross: '33.0'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '3.0'
                            name: VAT
                        totalPrice:
                          net: '30.0'
                          gross: '33.0'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '3.0'
                            name: VAT
                        appliedDiscounts:
                        - pricePerHour:
                            net: '6.0'
                            gross: '6.6'
                            currency: EUR
                            taxes:
                            - rate: '10.0'
                              amount: '0.6'
                              name: VAT
                          minimumDuration:
                            hours: 1
                            minutes: 0
                        appliedPriceCaps:
                        - maximumDuration:
                            hours: 2
                            minutes: 0
                          price:
                            net: '10.0'
                            gross: '11.0'
                            currency: EUR
                            taxes:
                            - rate: '10.0'
                              amount: '1.0'
                              name: VAT
                        appliedPriceCap:
                          maximumDuration:
                            hours: 2
                            minutes: 0
                        appliedFixedRates:
                        - maximumDuration:
                            hours: 2
                            minutes: 0
                          price: '10.0'
                          count: 2
                        bookingExtras:
                        - name: Catering
                          description: Tacos
                          accountingCode: COFF
                          id: extra-uuid-5678
                          productId: fc099ce2ec4df93ba0fd0db7352e5421
                          pricing:
                            unit: person
                            quantity: '2.0'
                            amount:
                              net: '10.0'
                              gross: '11.0'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '1.0'
                                name: VAT
                            totalAmount:
                              net: '20.0'
                              gross: '22.0'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '2.0'
                                name: VAT
                      relationships:
                        resource:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: externalResources
                        space:
                          data:
                            id: 99a12ca68b5e6bc9007890854kd368f2
                            type: spaces
        '402':
          description: 'External resources are a paid add-on.

            The space does not have the required subscription.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                    - title: Payment required
                      detail: 'This API requires the space to have the external bookings subscription.

                        '
      requestBody:
        description: Booking data needed to generate a preview.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/preview-external-booking'
            examples:
              default:
                value:
                  data:
                    type: externalBookingPreviews
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      bookingExtras:
                      - productId: fc099ce2ec4df93ba0fd0db7352e5421
                        quantity: '2.0'
                    relationships:
                      resource:
                        data:
                          id: 89da3cb66b5e6b39007690854kd66da4
                          type: externalResources
                      discount:
                        data:
                          id: e6a53fb4a996cfa147e174e265edc5e0
                          type: discountCodes
  /spaces/{spaceId}/external_bookings:
    get:
      summary: List for space
      description: 'List a space''s external bookings for a given timespan.

        The bookings are filtered by their `from` attribute, not by testing for overlap.


        **Access**: The current user must be an admin of the space.

        '
      operationId: get-space-external-bookings
      parameters:
      - name: spaceId
        in: path
        required: true
        description: The id of the space to get the bookings for.
        schema:
          type: string
      - name: filter[from]
        in: query
        required: true
        description: The start of the time range to return external bookings for.
        schema:
          type: string
          format: date-time
        example: '2012-04-12T10:00:00Z'
      - name: filter[to]
        in: query
        required: true
        description: The end of the time range to return external bookings for.
        schema:
          type: string
          format: date-time
        example: '2012-04-14T20:00:00Z'
      - name: filter[sortOrder]
        in: query
        required: false
        description: Whether to sort external bookings by date ascending or descending date.
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
      - name: include
        in: query
        required: false
        description: 'List of related resources to include in response. Provide a comma separated list of relationship names.

          `invoices` requires the `read_invoices` scope.

          '
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - invoices
      security:
      - OAuth2:
        - read_external_bookings
        - read_invoices
      tags:
      - External Booking
      responses:
        '200':
          description: The external bookings for the given space and time frame.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/external-bookings'
              examples:
                default:
                  value:
                    data:
                    - id: b8f21a71ac8df98d29de357180d27358
                      type: externalBookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: Company Retreat
                        price:
                          net: '10.0'
                          gross: '11.0'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.0'
                            name: VAT
                        totalPrice:
                          net: '11.0'
                          gross: '12.1'
                          currency: EUR
                          taxes:
                          - rate: '10.0'
                            amount: '1.1'
                            name: VAT
                        numberOfVisitors: 1
                        acceptedTerms: true
                        name: Earl McBride
                        company: ACME Inc.
                        billingAddress: 1422 Nuede Extension\nSpringfield, IL, 12345
                        structuredBillingAddress:
                          name: Earl McBride
                          company: ACME Inc.
                          fullAddress: 1422 Nuede Extension\nSpringfield, IL, 12345
                          street: 1422 Nuede Extension
                          postCode: '12345'
                          city: Springfield
                          state: IL
                          countryCode: US
                        taxId: 123456789A
                        phone: (959) 645-9532
                        email: fe@haos.eg
                        comments: we need catering
                        adminComments: make sure to air the room before
                        status: approved
                        accountingCode: EB1
                        canUpdate: true
                        discount:
                          code: SUMMER2024
                          name: Summer Sale
                          value: '10.0'
                          unit: percentage
                          amounts:
                          - net: '1.1'
                            gross: '1.21'
                            currency: EUR
                            taxes:
                            - rate: '10.0'
                              amount: '0.11'
                              name: VAT
                        bookingExtras:
                        - name: Cup of coffee
                          accountingCode: coffee1
                          description: Hot
                          id: extra-uuid-1234
                          productId: a1b2c3d4e5f6
                          pricing:
                            amount:
                              net: '1.0'
                              gross: '1.1'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.1'
                                name: VAT
                            totalAmount:
                              net: '2.0'
                              gross: '2.2'
                              currency: EUR
                              taxes:
                              - rate: '10.0'
                                amount: '0.2'
                                name: VAT
                            quantity: '2.0'
                            unit: item
                      relationships:
                        paymentMethod:
                          data: null
                        resource:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: externalResources
                        space:
                          data:
                            id: 99a12ca68b5e6bc9007890854kd368f2
                            type: spaces
                        invoices:
                          data:
                          - id: a07fed27-b35b-5c67-8367-3e52c397c528
                            type: invoices
                        contact:
                          data:
                            id: u2374d68h2j067d708qhj6whgn372872
                            type: contacts
components:
  schemas:
    price:
      description: Price including net/gross value and all taxes.
      type: object
      required:
      - net
      - gross
      - currency
      - taxes
      additionalProperties: false
      properties:
        net:
          $ref: '#/components/schemas/decimal'
        gross:
          $ref: '#/components/schemas/decimal'
        currency:
          $ref: '#/components/schemas/currency'
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/tax'
    discount-relationship:
      description: An optional discount to apply to the booking.
      type: object
      additionalProperties: false
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - id
          additionalProperties: false
          properties:
            type:
              type: string
              enum:
              - discountCodes
            id:
              type: string
    external-booking-preview:
      id: external-booking-preview.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - id
          - type
          - attributes
          - relationships
          additionalProperties: false
          properties:
            id:
              type: string
            type:
              type: string
              pattern: externalBookingPreviews
            attributes:
              type: object
              required:
              - appliedFixedRates
              - appliedDiscounts
              - appliedPriceCaps
              - appliedPriceCap
              - from
              - to
              - finalPrice
              - fullPrice
              - totalPrice
              - bookingExtras
              additionalProperties: false
              properties:
                fullPrice:
                  description: Price of the booking, without any of the applied* attributes applied, and without booking extras and discount.
                  $ref: '#/components/schemas/price'
                finalPrice:
                  description: Price of the booking, with the applied* attributes applied, and without booking extras and discount.
                  $ref: '#/components/schemas/price'
                totalPrice:
                  description: Price of the booking with the applied* attributes applied, and including booking extras and an optional discount code.
                  $ref: '#/components/schemas/price'
                appliedFixedRates:
                  type: array
                  items:
                    $ref: '#/components/schemas/fixed-rate-count'
                appliedDiscounts:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource-discount'
                appliedPriceCaps:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource-price-cap'
                appliedPriceCap:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/resource-paid-time-cap'
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                bookingExtras:
                  description: Additional products the visitor booked with this booking.
                  type: array
                  items:
                    $ref: '#/components/schemas/-booking-extra-data'
                discount:
                  $ref: '#/components/schemas/applied-discount-code'
            relationships:
              type: object
              additionalProperties: false
              properties:
                resource:
                  $ref: '#/components/schemas/relationship-linkage'
                space:
                  $ref: '#/components/schemas/relationship-linkage'
    preview-external-booking:
      id: preview-external-booking.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          additionalProperties: false
          properties:
            type:
              type: string
              pattern: externalBookingPreviews
            attributes:
              type: object
              additionalProperties: false
              required:
              - from
              - to
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                bookingExtras:
                  description: Products that are linked to the external resource can be booked as extras
                  type: array
                  items:
                    $ref: '#/components/schemas/booking-extra'
            relationships:
              type: object
              additionalProperties: false
              properties:
                resource:
                  type: object
                  additionalProperties: false
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      properties:
                        type:
                          type: string
                          enum:
                          - externalResources
                        id:
                          type: string
                discount:
                  $ref: '#/components/schemas/discount-relationship'
    resource-price-cap:
      type: object
      required:
      - price
      - maximumDuration
      additionalProperties: false
      properties:
        price:
          $ref: '#/components/schemas/price'
        maximumDuration:
          $ref: '#/components/schemas/hours-minutes-object'
    meta:
      description: Non-standard meta-information that can not be represented as an attribute or relationship.
      type: object
      additionalProperties: true
    -invoice-data:
      id: -invoice-data.json
      type: object
      required:
      - id
      - type
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - invoices
        attributes:
          type: object
          required:
          - invoiceDate
          - dueDate
          - eInvoicingReady
          - remindAt
          - number
          - recipientAddress
          - senderAddress
          - items
          - payableAmount
          - paidAmount
          - totalAmount
          - paidStatus
          - sentStatus
          - reminderStatus
          - canUpdate
          - sentRemindersCount
          - senderTaxId
          - taxId
          - billingEmails
          additionalProperties: false
          properties:
            invoiceText:
              type:
              - string
              - 'null'
            billingEmails:
              type:
              - array
              items:
                type: string
                format: email
            invoiceDate:
              $ref: '#/components/schemas/date'
            paidDate:
              oneOf:
              - $ref: '#/components/schemas/date'
              - type: 'null'
            paidStatus:
              type: string
              enum:
              - unpaid
              - paid
              - pending
              - canceled
              - writtenOff
            dueDate:
              $ref: '#/components/schemas/date'
            eInvoicingReady:
              type: boolean
            remindAt:
              $ref: '#/components/schemas/date'
            number:
              type: string
            sentStatus:
              type: string
              enum:
              - unsent
              - sent
              - sending
              - sendingRequested
              - failedToSend
            reminderStatus:
              type: string
              description: The status of the last invoice reminder.
              enum:
              - notSent
              - sending
              - sent
              - failedToSend
            sentRemindersCount:
              type: integer
              minimum: 0
              description: The number of invoice reminders already sent.
            lastReminderSentAt:
              oneOf:
              - type: string
                format: date-time
              - type: 'null'
            senderTaxId:
              description: The tax id of the invoice sender.
              oneOf:
              - type: string
              - type: 'null'
            taxId:
              description: The tax id of the invoice recipient.
              oneOf:
              - type: string
              - type: 'null'
            taxIdName:
              type: string
              description: What the tax id is called (differs by country).
            pdf:
              type: object
              required:
              - url
              - archived
              - eInvoiceStandard
              - eInvoice
              additionalProperties: false
              properties:
                eInvoice:
                  type: boolean
                eInvoiceStandard:
                  oneOf:
                  - type: string
                  - type: 'null'
                url:
                  type: string
                  format: uri
                  description: The URL to the PDF version of the invoice. Note that the URL is not stable and will only work for a few minutes. It works without API authentication.
                archived:
                  type: boolean
                  description: Whether the PDF is archived, i.e. a PDF has been uploaded for the invoice. Before it is archived, a new PDF is generated on the fly on every request. Once archived, the PDF is guaranteed to never change.
            chargeAt:
              oneOf:
              - type: string
                format: date-time
              - type: 'null'
              description: If set, the invoice will automatically be charged at the given time.
            canCharge:
              type: boolean
              description: Whether the invoice can automatically be charged by Cobot.
            canUpdate:
              type: boolean
              description: Whether the invoice can be edited. Invoices can be edited until they are locked.
            customerNumber:
              oneOf:
              - type: string
              - type: 'null'
            recipientAddress:
              $ref: '#/components/schemas/invoiceAddress'
            senderAddress:
              $ref: '#/components/schemas/invoiceAddress'
            notes:
              oneOf:
              - type: string
              - type: 'null'
            items:
              type: array
              items:
                type: object
                additionalProperties: false
                required:
                - description
                - quantity
                - amount
                - totalAmount
                properties:
                  description:
                    type: string
                  paid:
                    type: boolean
                    description: Indicates an item that was already paid when the invoice was generated, i.e. does not contribute to the payable amount.
                  quantity:
                    $ref: '#/components/schemas/decimal'
                  accountingCode:
                    oneOf:
                    - type: string
                    - type: 'null'
                  costCenter:
                    oneOf:
                    - $ref: '#/components/schemas/cost-center'
                    - type: 'null'
                  revenueAccount:
                    oneOf:
                    - type: 'null'
                    - $ref: '#/components/schemas/revenue-account'
                  amount:
                    $ref: '#/components/schemas/price'
                  totalAmount:
                    $ref: '#/components/schemas/price'
            payableAmount:
              $ref: '#/components/schemas/decimal'
            paidAmount:
              $ref: '#/components/schemas/decimal'
            totalAmount:
              $ref: '#/components/schemas/price'
        relationships:
          type: object
          additionalProperties: false
          required:
          - space
          - paymentMethods
          properties:
            contact:
              description: 'Deprecated: use the debitor relationship.'
              type: object
              required:
              - data
              additionalProperties: false
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - contacts
            debitor:
              type: object
              description: The member or team the invoice is assigned to. Invoices for external products (external bookings, drop-in passes, event tickets) are linked to a contact.
              required:
              - data
              additionalProperties: false
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - memberships
                      - teams
                      - contacts
            membership:
              type: object
              description: 'Deprecated: use the debitor relationship.'
              required:
              - data
              additionalProperties: false
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - memberships
            team:
              type: object
              description: 'Deprecated: use the debitor relationship.'
              required:
              - data
              additionalProperties: false
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - teams
            space:
              type: object
              required:
              - data
              additionalProperties: false
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - spaces
            correctedInvoice:
              type: object
              required:
              - data
              additionalProperties: false
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - invoices
            paymentMethods:
              type: object
              required:
              - links
              additionalProperties: false
              properties:
                links:
                  type: object
                  required:
                  - related
                  additionalProperties: false
                  properties:
                    related:
                      type: string
                      format: uri
    invoiceAddress:
      type: object
      additionalProperties: false
      required:
      - name
      - company
      - fullAddress
      - city
      - postCode
      - state
      - street
      - countryCode
      properties:
        name:
          oneOf:
          - type: string
          - type: 'null'
        company:
          oneOf:
          - type: string
          - type: 'null'
        fullAddress:
          type: string
        street:
          oneOf:
          - type: string
          - type: 'null'
        postCode:
          oneOf:
          - type: string
          - type: 'null'
        city:
          oneOf:
          - type: string
          - type: 'null'
        state:
          oneOf:
          - type: string
          - type: 'null'
        countryCode:
          oneOf:
          - type: string
          - type: 'null'
        latitude:
          type: number
        longitude:
          type: number
      dependencies:
        latitude:
        - longitude
        longitude:
        - latitude
    -external-booking-data:
      id: -external-booking-data.json
      type: object
      required:
      - id
      - type
      - attributes
      - relationships
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          type: string
          pattern: externalBookings
        attributes:
          type: object
          required:
          - from
          - to
          - price
          - email
          - numberOfVisitors
          - acceptedTerms
          - status
          - canUpdate
          - accountingCode
          - totalPrice
          - title
          - bookingExtras
          additionalProperties: false
          properties:
            price:
              description: Price of the booking, excluding extras and discount code.
              $ref: '#/components/schemas/price'
            totalPrice:
              description: Price of the booking including extras and an optional discount code
              type: object
              required:
              - net
              - gross
              - taxes
              - currency
              additionalProperties: false
              properties:
                net:
                  $ref: '#/components/schemas/decimal'
                gross:
                  $ref: '#/components/schemas/decimal'
                taxes:
                  type: array
                  items:
                    $ref: '#/components/schemas/tax'
                currency:
                  type: string
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
            title:
              description: This booking's title
              oneOf:
              - type: string
              - type: 'null'
            canUpdate:
              description: Past and canceled bookings cannot be updated anymore. Trying to update them will result in an error.
              type: boolean
            numberOfVisitors:
              type: integer
              minimum: 1
            acceptedTerms:
              type: boolean
              enum:
              - true
            name:
              description: Only shown to admins
              type: string
            company:
              description: Only shown to admins
              oneOf:
              - type: string
              - type: 'null'
            billingAddress:
              description: Only shown to admins
              type: string
            structuredBillingAddress:
              $ref: '#/components/schemas/invoiceAddress'
            email:
              $ref: '#/components/schemas/email'
            comments:
              description: Only shown to admins
              oneOf:
              - type: string
              - type: 'null'
            adminComments:
              description: Only shown to and editable by admins
              oneOf:
              - type: string
              - type: 'null'
            phone:
              description: Only shown to admins
              oneOf:
              - type: string
              - type: 'null'
            taxId:
              description: Only shown to admins
              oneOf:
              - type: string
              - type: 'null'
            status:
              type: string
              enum:
              - pending
              - approved
              - canceled
            canceledBy:
              description: Only shown for canceled bookings.
              type: string
              enum:
              - visitor
              - space
            bookingExtras:
              description: Additional products the visitor booked with this booking.
              type: array
              items:
                $ref: '#/components/schemas/-booking-extra-data'
            accountingCode:
              type:
              - 'null'
              - string
            discount:
              $ref: '#/components/schemas/applied-discount-code'
        relationships:
          type: object
          additionalProperties: false
          required:
          - resource
          - space
          - invoices
          - paymentMethod
          properties:
            invoices:
              $ref: '#/components/schemas/relationship-linkage-array'
            paymentMethod:
              $ref: '#/components/schemas/optional-relationship-linkage'
            resource:
              $ref: '#/components/schemas/optional-relationship-linkage'
            space:
              $ref: '#/components/schemas/relationship-linkage'
            contact:
              $ref: '#/components/schemas/optional-relationship-linkage'
    pagination-meta:
      type: object
      additionalProperties: false
      properties:
        totalPages:
          type: number
        currentPage:
          type: number
    applied-discount-code:
      description: The applied discount code, if any.
      type: object
      required:
      - code
      - name
      - value
      - unit
      additionalProperties: false
      properties:
        code:
          type: string
        name:
          type: string
        value:
          type: string
        unit:
          type: string
          enum:
          - percentage
          - amount
        amounts:
          type: array
          items:
            $ref: '#/components/schemas/price'
    currency:
      description: ISO 4217 3 letter currency code.
      type: string
      pattern: ^[A-Z]{3}$
    linkage:
      description: The "type" and "id" of a linked entity.
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
        id:
          type: string
      additionalProperties: false
    external-resource-relationship:
      type: object
      additionalProperties: false
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - id
          additionalProperties: false
          properties:
            type:
              type: string
              enum:
              - externalResources
            id:
              type: string
    resource-paid-time-cap:
      type: object
      required:
      - maximumDuration
      properties:
        maximumDuration:
          $ref: '#/components/schemas/hours-minutes-object'
      additionalProperties: false
    fixed-rate-count:
      type: object
      required:
      - price
      - maximumDuration
      - count
      properties:
        price:
          type: string
        maximumDuration:
          $ref: '#/components/schemas/hours-minutes-object'
        count:
          type: integer
      additionalProperties: false
    external-booking:
      id: external-booking.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/-external-booking-data'
        included:
          type: array
          items:
            $ref: '#/components/schemas/-invoice-data'
    hours-minutes-object:
      type: object
      required:
      - hours
      - minutes
      additionalProperties: false
      properties:
        hours:
          type: integer
          minimum: 0
        minutes:
          type: integer
          minimum: 0
          maximum: 59
    resource-discount:
      type: object
      required:
      - pricePerHour
      - minimumDuration
      additionalProperties: false
      properties:
        pricePerHour:
          $ref: '#/components/schemas/price'
        minimumDuration:
          $ref: '#/components/schemas/hours-minutes-object'
    failure:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          uniqueItems: true
        meta:
          $ref: '#/components/schemas/meta'
        jsonapi:
          $ref: '#/components/schemas/jsonapi'
        links:
          $ref: '#/components/schemas/links'
      additionalProperties: false
    relationship-linkage:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/linkage'
    decimal:
      description: A decimal number.
      type: string
      pattern: ^-?\d+(\.\d+)?$
    email:
      type: string
      pattern: ^[^@]+@([\w-]+\.)+[a-zA-Z]+$
    link:
      description: 'A link **MUST** be represented as either: a string containing the link''s URL or a link object.'
      oneOf:
      - description: A string containing the link's URL.
        type: string
        format: uri-reference
      - type: object
        required:
        - href
        properties:
          href:
            description: A string containing the link's URL.
            type: string
            format: uri-reference
          meta:
            $ref: '#/components/schemas/meta'
    links:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/link'
    external-bookings:
      id: external-bookings.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/-external-booking-data'
        meta:
          $ref: '#/components/schemas/pagination-meta'
        links:
          $ref: '#/components/schemas/pagination-links'
        included:
          type: array
          items:
            $ref: '#/components/schemas/-invoice-data'
    optional-relationship-linkage:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          oneOf:
          - $ref: '#/components/schemas/linkage'
          - type: 'null'
    update-external-booking:
      id: update-external-booking.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - id
          - type
          - attributes
          additionalProperties: false
          properties:
            id:
              type: string
            type:
              type: string
              pattern: externalBookings
            attributes:
              type: object
              additionalProperties: false
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                title:
                  oneOf:
                  - type: string
                  - type: 'null'
                adminComments:
                  oneOf:
                  - type: string
                  - type: 'null'
                customPrice:
                  description: When set by an admin it overwrites price calculation and uses the set price
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/money'
                numberOfVisitors:
                  type: integer
                  minimum: 1
    revenue-account:
      type: object
      additionalProperties: false
      required:
      - name
      - number
      properties:
        name:
          type: string
        number:
          type: string
    structuredAddress:
      type: object
      description: Either name or company is required.
      additionalProperties: false
      required:
      - name
      - company
      - street
      - postCode
      - city
      - countryCode
      properties:
        name:
          type:
          - string
          - 'null'
        company:
          type:
          - string
          - 'null'
        street:
          type: string
        postCode:
          type: string
        city:
          type: string
        state:
          type: string
        countryCode:
          type: string
    booking-extra:
      oneOf:
      - title: updateExistingExtra
        type: object
        additionalProperties: false
        required:
        - id
        - quantity
        properties:
          id:
            type: string
            description: ID of an existing booking extra to update. Only quantity can be changed.
          quantity:
            $ref: '#/components/schemas/decimal'
      - title: createNewExtra
        type: object
        additionalProperties: false
        required:
        - productId
        - quantity
        properties:
          productId:
            type: string
            description: ID of a product to create a new booking extra from.
          quantity:
            $ref: '#/components/schemas/decimal'
    -booking-extra-data:
      id: -booking-extra-data.json
      type: object
      required:
      - name
      - pricing
      - accountingCode
      - description
      - id
      - productId
      additionalProperties: false
      properties:
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        accountingCode:
          type:
          - string
          - 'null'
        id:
          type: string
          description: Unique ID for this booking extra. Use this to update the extra.
        productId:
          type: string
          description: ID of the product this extra was created from.
        pricing:
          type: object
          properties:
            amount:
              $ref: '#/components/schemas/price'
            totalAmount:
              $ref: '#/components/schemas/price'
            unit:
              type: string
              enum:
              - fixed
              - minute
              - person
              - item
            quantity:
              $ref: '#/components/schemas/decimal'
          additionalProperties: false
    tax:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        rate:
          $ref: '#/components/schemas/decimal'
        amount:
          $ref: '#/components/schemas/decimal'
    error:
      type: object
      properties:
        id:
          description: A unique identifier for this particular occurrence of the problem.
          type: string
        links:
          $ref: '#/components/schemas/links'
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          type: string
        code:
          description: An application-specific error code, expressed as a string value.
          type: string
        title:
          description: A short, human-readable summary of the problem. It **SHOULD NOT** change from occurrence to occurrence of the problem, except for purposes of localization.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        source:
          type: object
          properties:
            pointer:
              description: A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. "/data" for a primary data object, or "/data/attributes/title" for a specific attribute].
              type: string
            parameter:
              description: A string indicating which query parameter caused the error.
              type: string
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: false
    address-2:
      type: object
      description: Either name or company is required.
      additionalProperties: false
      required:
      - name
      - company
      - fullAddress
      properties:
        name:
          type:
          - string
          - 'null'
        company:
          type:
          - string
          - 'null'
        fullAddress:
          type: string
    jsonapi:
      description: An object describing the server's implementation
      type: object
      properties:
        version:
          type: string
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: false
    create-external-booking:
      id: create-external-booking.json#
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          - relationships
          additionalProperties: false
          properties:
            type:
              type: string
              pattern: externalBookings
            attributes:
              type: object
              additionalProperties: false
              required:
              - from
              - to
              - numberOfVisitors
              - acceptedTerms
              - name
              - billingAddress
              - email
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                numberOfVisitors:
                  type: integer
                  minimum: 1
                acceptedTerms:
                  type: boolean
                  enum:
                  - true
                  description: Terms need to be accepted.
                title:
                  oneOf:
                  - type: string
                  - type: 'null'
                name:
                  type: string
                company:
                  oneOf:
                  - type: string
                  - type: 'null'
                billingAddress:
                  description: If the object is passed here, its name and company will be used
                  oneOf:
                  - $ref: '#/components/schemas/structuredAddress'
                  - $ref: '#/components/schemas/address-2'
                  - type: string
                email:
                  $ref: '#/components/schemas/email'
                comments:
                  oneOf:
                  - type: string
                  - type: 'null'
                adminComments:
                  oneOf:
                  - type: string
                  - type: 'null'
                phone:
                  oneOf:
                  - type: string
                  - type: 'null'
                taxId:
                  oneOf:
                  - type: string
                  - type: 'null'
                bookingExtras:
                  description: Extras to be booked with this booking. They have to be linked with the associated external resource.
                  type: array
                  items:
                    $ref: '#/components/schemas/booking-extra'
            relationships:
              oneOf:
              - type: object
                additionalProperties: false
                required:
                - resource
                - payment
                properties:
                  payment:
                    description: Pass a previously created payment to pay for the booking. The payment must not yet be captured. Capturing happens as part of the booking process. If capturing the payment fails, the booking is still made, but the accompanying invoice is not marked as paid.
                    type: object
                    additionalProperties: false
                    required:
                    - data
                    properties:
                      data:
                        type: object
                        required:
                        - type
                        - id
                        additionalProperties: false
                        properties:
                          type:
                            type: string
                            enum:
                            - payments
                          id:
                            type: string
                  resource:
                    $ref: '#/components/schemas/external-resource-relationship'
                  discount:
                    $ref: '#/components/schemas/discount-relationship'
              - type: object
                additionalProperties: false
                required:
                - resource
                - paymentMethod
                properties:
                  paymentMethod:
                    description: Instead of passing a payment for automated payment processing, you can pass a payment method that does not do automatic processing. Doing so will result in the payment method's instructions being added to the booking confirmation email.
                    type: object
                    additionalProperties: false
                    required:
                    - data
                    properties:
                      data:
                        type: object
                        required:
                        - type
                        - id
                        additionalProperties: false
                        properties:
                          type:
                            type: string
                            enum:
                            - paymentMethods
                          id:
                            type: string
                  resource:
                    $ref: '#/components/schemas/external-resource-relationship'
                  discount:
                    $ref: '#/components/schemas/discount-relationship'
              - type: object
                additionalProperties: false
                required:
                - resource
                properties:
                  resource:
                    $ref: '#/components/schemas/external-resource-relationship'
                  discount:
                    $ref: '#/components/schemas/discount-relationship'
    date:
      description: A date in the form YYYY-MM-DD.
      type: string
      pattern: ^\d{4}-\d{2}-\d{2}$
    pagination-links:
      type: object
      required:
      - first
      - self
      - next
      additionalProperties: false
      properties:
        first:
          type: string
          description: Link to the first results page.
        prev:
          oneOf:
          - type: string
          - type: 'null'
          description: Link to the previous results page. Null when on the first page.
        self:
          type: string
          description: Link to the current results page.
        next:
          oneOf:
          - type: string
          - type: 'null'
          description: Link to the next results page. Null when on the last page.
        last:
          type: string
          description: Link to the last results page.
    cost-center:
      type: object
      additionalProperties: false
      required:
      - name
      - number
      properties:
        name:
          type: string
        number:
          type: string
    money:
      type: object
      required:
      - net
      additionalProperties: false
      properties:
        net:
          $ref: '#/components/schemas/decimal'
    relationship-linkage-array:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/linkage'
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: https://www.cobot.me/.well-known/openid-configuration
    OAuth2:
      type: oauth2
      description: "OAuth is \"an open protocol to allow secure API authorization in a simple and\nstandard method from desktop and web applications.\". \"OAuth 2.0 is the\nnext evolution of the OAuth protocol [..]. OAuth 2.0 focuses on client\ndeveloper simplicity [...]. It is supported by many popular sites such as\nFacebook and there are client libraries available for many programming\nlanguages.\n\nFor information about OAuth2 see the [oauth website](http://oauth.net/2/).\n\n**For OAuth2 you need a client id and secret. In order to get those you have\nto [register your application](/oauth2_clients).**\n\nAPI authorization works by passing a bearer token via the HTTP Authorization header:\n\n    Authorization: bearer <token>\n\n## Permissions (Scope)\n\nOAuth2 [defines scopes](https://tools.ietf.org/html/rfc6749#section-3.3) to\nrestrict access to certain resources.\n\nThe required scope for each resource can be found within the documentation\nfor each endpoint.\n\nPlease note that a user's scope can be limited when they access the API as\nan admin of a space and some of their admin permissions have been revoked.\n"
      flows:
        authorizationCode:
          authorizationUrl: https://www.cobot.me/oauth/authorize
          tokenUrl: https://www.cobot.me/oauth/access_token
          scopes:
            read_articles: Read help desk articles.
            read_allocations: Read resource allocation data.
            read_booking_credits: Read information about a membership's booking credits.
            read_bookings: Read booking data.
            read_built_in_email_customizations: Read built in email customizations.
            read_calendar_blockers: Read calendar blockers.
            read_check_ins: Read memberships' check-in data.
            read_contacts: Read contacts.
            read_drop_in_passes: Read drop-in passes.
            read_drop_in_pass_templates: Read drop-in pass templates.
            read_discount_codes: Read discount codes.
            read_event_attendances: Read who is attending an event.
            read_event_messages: Read messages sent about events.
            read_events: Read events of a space.
            read_external_bookings: Read external booking data.
            read_external_resources: Read resources enabled for external booking.
            read_invoices: Read invoices created for a membership in a space.
            read_memberships: Read information about memberships in a space.
            read_teams: Read information about teams in a space.
            read_membership_profiles: Read members' profile data.
            read_navigation_links: Read/list navigation links for a space.
            read_payment_methods: Read payment methods in order to process payments.
            read_published_membership_profiles: Read published members' profile data.
            read_networks: Read information about a network.
            read_products: Read information about products.
            read_resource_categories: Read information about booking calendar categories.
            read_resources: Read information about booking calendar resources.
            read_single_page_apps: Read information about single page apps.
            read_space_profiles: Read space profile information.
            read_spaces: Read basic space information.
            read_space_billing_details: Read information relevant to billing the space.
            read_space_payment_method: Read a space's payment method used to pay for the space's Cobot subscription.
            read_space_subscriptions: Read a space's subscription.
            read_terms_approvals: Shows missing approvals for the current member.
            read_urls: Read the URLs to the Cobot web interface.
            read_user: Read the current user's information.
            write_bookings: Write booking data.
            write_check_ins: Check a member in at a space.
            write_customers: Convert a space to a customer.
            write_drop_in_pass_purchases: Create drop-in pass purchases.
            write_drop_in_passes: Cancel drop-in passes.
            write_event_ticket_purchases: Create event ticket purchases.
            write_event_attendances: Attend/unattend events.
            write_event_messages: Create/update messages sent about events.
            write_events: Write to events of a space.
            write_external_bookings: Create/update bookings as a non-member.
            write_external_resources: Create/update/delete resources enabled for non-memberss
            write_resources: Create/update/delete booking calendar resources.
            write_invoices: Create invoices for members in a space.
            write_invoice_reminders: Send invoice reminder emails.
            write_membership_profiles: Manage the social profiles of members.
            write_navigation_links: Create/update/delete navigation links for a space.
            write_payments: Initiate payments for external bookings.
            write_single_page_apps: Create and update single page apps to be embedded on Cobot.
            write_space_billing_details: Update a space's billing details.
            write_space_payment_method: Update a space's payment method used to pay for the space's Cobot subscription.
            write_space_subscriptions: Change a space's subscription. Only trusted clients can request this scope. Contact support.
            write_terms_approvals: Approve different kinds of terms as a member.
