openapi: 3.1.0
info:
  title: Cobot API
  termsOfService: https://www.cobot.me/terms
  x-logo:
    url: /api2_logo.webp
    backgroundColor: '#FFFFFF'
    altText: Cobot logo
  description: |
    This is the 2.0 version of the Cobot API. You can find version 1.0
    as well as various tutorials under [/api-docs](/api-docs).

    ## JSON API

    This API follows the [JSON API](http://jsonapi.org) standard. This means:

    * requests and responses are sent in JSON
    * all requests MUST send a `Accept: application/vnd.api+json` header
    * non-GET requests MUST send a `Content-Type: application/vnd.api+json` header
    * all responses send a `Content-Type: application/vnd.api+json` header
    * all JSON formats are standardized (requests, responses, errors)

    ## Cross-Origin Resource Sharing (CORS)

    All endpoints send [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)
    headers so that the API can be used from within browsers.

    ## Rate Limiting

    In general, the rate limit for an endpoint is 60 requests per minute per user.
    If applicable, alternative limits are given in the documentation for
    particular endpoints.

    If you've exceeded the limit, Cobot will return a 429 status code and a JSON
    error message. The response will also contain a *Retry-After* header, this
    denotes the number of seconds to wait before your client may retry.

    ## Times and Dates

    Times and Dates must be in ISO 8601 formats. e.g. date: `2021-01-07`, datetime: `2021-01-07T16:25:51Z`,  time: `16:25:51`.
    Millisecond are ommited, so `16:25:51.811` will become `16:25:51`.
    Time zone offsets must be provided by the client, e.g. `16:25:51+02:00` or '16:25:51Z' for UTC.

    Times are always returned in UTC.
    ## Sparse Fieldsets

    This API supports [sparse fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets),
    so clients can request which attributes they are interested in.

    Example:
    ```
    GET https://api.cobot.me/user?fields[users]=email
    ```
    This will only return the user's email.

    ## Query params

    When passing query params, arrays of data are expected to be sent as a string of comma separated values.

    ## Pagination

    All collections are paginated. Pagination follows [JSON-API standards](https://jsonapi.org/format/#fetching-pagination).

    Example:
    ```json
    {
      "meta": {
        "totalPages": 2,
        "currentPage": 1
      },
      "data": [{
        "id": "1",
        "type": "users",
      }],
      "links": {
        "self": "/users?page[size]=100&page[number]=1",
        "first": "/users?page[size]=100&page[number]=1",
        "prev": null,
        "next": "/users?page[size]=100&page[number]=2",
        "last": "/users?page[size]=100&page[number]=1"
      }
    }
    ```

    Default page size is 72 and can be changed by passing a `page[size]` parameter. Maximum page size is 200.

    ## Errors

    When a client sends invalid data in a request, Cobot returns a
    422 status code and a JSON-API error response.

    Example:
    ```json
    {
      "errors": [
        {
          "source": {
            "pointer": "/data/attributes/name"
          },
          "detail": "can't be blank"
        },
        {
          "source": {
            "pointer": "/data/attributes/password"
          },
          "detail": "is too short"
        }
      ]
    }
    ```
  version: '2.0'
  contact:
    name: Cobot Support
    url: https://dev.cobot.me/
    email: support@cobot.me
servers:
  - url: https://api.cobot.me
security:
  - OAuth2: []
tags:
  - name: Approval
    description: Approving terms & conditions, privacy policies etc. as a member of a space.
  - name: Article
    description: A help desk article explaning an aspect of the space.
  - name: Allocation
    description: A long-term allocation of a resource to a membership or team.
  - name: Booking
    description: A booking of a resource in the booking calendar.
  - name: Booking Credit
    description: Booking credits are added to plans and give memberships free booking time or a fixed amount of free bookings. The hourly rate of a resource can also be customized.
  - name: Built-in Email Customizations
    description: Email customizations for emails that can be sent via Cobot.
  - name: Calendar Blocker
    description: Blocks off a space for member/external bookings and drop-in passes.
  - name: Check-in
    description: Members check in to a space for attendance tracking and for using up their time passes.
  - name: Contact
    description: Non-member contacts a space has.
  - name: Cost Center
    description: |
      Cost centers are used to categorize invoice items. Anything
      that can be invoiced can be assigned a cost center.
      When a service/charge is added to an invoice, its cost center will be
      assigned to the respective invoice item.
  - name: Customer
    description: A trial space can be converted to a customer
  - name: Discount Code
    description: A discount code can be used to offer a discount for various products in a space.
  - name: Drop-In Pass
    description: Purchased drop-in passes.
  - name: Drop-In Pass Purchase
    description: A purchase of drop-in-passes, currently only supports buying one pass at a time.
  - name: Drop-In Pass Template
    description: Drop-in pass templates are templates for drop-in passes that can be bought by visitors.
  - name: Event
    description: |
      Spaces can run events for their members or the public.
      Events are created and later published by admins, at which point members are able to see and attend them.
      Admins can also create messages for events, which are sent to attendees based on triggers such as someone having
      just attended an event.
  - name: External Booking
    description: |
      After a resource has been enabled for external booking (see _External Resource_) it can be
      booked by visitors (non-members) using external booking endpoints.
      Making an external booking also results in a Booking to be created.
  - name: External Resource
    description: |
      A space's resources can be enabled for external booking, which means they can be booked
      by guests without a Cobot account or space membership. All resources enabled for external booking
      appear under external resources.
  - name: Invoice
    description: Invoices are automatically generated once a month, based on members' activity. In addition, manual invoices can be generated at any time.
  - name: Invoice Reminder
    description: Admins can send invoice reminders for overdue invoices.
  - name: Membership
    description: Represents a person being a member in a space. Can optionally be connected to a User.
  - name: Membership Plan
    description: |
      The plans belonging to a membership. When a membership is signed up one of the
      space's plans is selected and a copy is created for the membership.
      A membership's plan can be customized or changed over time, creating a new
      membership plan object every time.
  - name: Membership Profile
    description: Social profile for a membership.
  - name: Navigation Link
    description: Navigation links allow you to embed 3rd party apps on a space's Cobot UI. See also the single page app endpoints.
  - name: Network
    description: Multiple spaces can form a network. This allows their members to access multiple spaces, for example to book resources.
  - name: Payment
    description: |
      *The payment API is in development. Endpoints may be missing or not working yet.*

      Payments allow any user (i.e. non-members) to pay for items on Cobot via the payment
      methods a space has set up.
      For now this only covers external bookings, but more could be added in the future.
  - name: Payment Method
    description: |
      Spaces can set up payment methods that members can use to make payments to the space.
      Payment methods can be automated via a payment provider such as Stripe or manual (e.g. cash, bank transfer).
  - name: Product
    description: |
      Products can be set up by a space and then used as booking extras or to create charges from.
      Examples are coffee, projectors, additional cleaning services etc.
  - name: Refund
    description: A full or partial refund of an invoice.
  - name: Resource
    description: A resource can be booked on an hourly basis using the booking calendar. Examples are conference rooms, presentation equipment, bikes etc.
  - name: Revenue Account
    description: |
      Revenue accounts are used to categorize invoice items. Anything
      that can be invoiced can be assigned a revenue account.
      When a service/charge is added to an invoice, its revenue account will be
      assigned to the respective invoice item.
  - name: Single page app
    description: A single page app consists of HTML, CSS and JavaScript code. It can be embedded into the Cobot UI via navigation links.
  - name: Space
    description: A coworking space. Spaces can form a network to allow members access to multiple spaces.
  - name: Space Billing Details
    description: Billing details of a space.
  - name: Space Payment Method
    description: The payment method a space uses to pay their Cobot subscription.
  - name: Space Preview
    description: Preview of a to-be-created space.
  - name: Space Profile
    description: Public profile information such as location, phone, website, social media links.
  - name: Subscription
    description: How much a space pays Cobot, how many members they can have and the extras they have booked.
  - name: Url
    description: |
      These  URLs/URL templates enable API clients to provide
      links to the Cobot web interface without having to hard-code them.

      Each Url includes a unique, never changing `identifier` and either a `url`
      or `urlTemplate`. Templates must be expanded according to RFC 6570.
  - name: User
    description: A user is used to log in to Cobot via email/password. Users can be admins/members (see Membership) in multiple spaces.
  - name: User Email Preview
    description: Confirms if a given email address is free to take.
paths:
  /articles/{id}:
    get:
      summary: Single article
      description: |
        **Access**: The current user must be an admin or member of the space
        the article belongs to. If the
        space is part of a network, the user must be an admin or member of any
        space in the network.
      operationId: get-article
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the article.
          schema:
            type: string
      security:
        - OAuth2:
            - read_articles
      tags:
        - Article
      responses:
        '200':
          description: Details of an article.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/article'
              examples:
                default:
                  value:
                    data:
                      id: bc302cc2-f3f6-563e-8c09-37fcae5088b8
                      type: articles
                      attributes:
                        title: How to print
                        content: <p>First, grab a cup of coffee...</p>
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
  /bookings:
    post:
      summary: Book as admin
      description: |
        Create booking as an admin. Optionally a booking can be assigned to a membership.

        **Access**: The current user must be an admin of the space. If the
        space is part of a network, the user must be an admin of any
        space in the network.
      operationId: create-admin-booking
      security:
        - OAuth2:
            - write_bookings
      tags:
        - Booking
      responses:
        '201':
          description: New booking
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: bookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        units: 1
                        title: team meeting
                        url: https://example.com/team-meeting
                        comments: there is going to be coffe and cake
                        attendeesMessage: Please bring your laptop
                        attendees:
                          - email: attendee@example.com
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        canUpdate: true
                        cancellationPeriod: 0
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        resource:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        membership:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: memberships
                        externalBooking:
                          data: null
        '202':
          description: |
            New recurring booking. Returns 202 since the bookings are created
            asynchronously (except the first one).

            The bookings can be fetched via
            the _recurringBookings_ relationship, which also lets you track
            if all bookings have been written.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: bookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        units: 1
                        title: team meeting
                        url: https://example.com/team-meeting
                        comments: there is going to be coffe and cake
                        attendeesMessage: Please bring your laptop
                        attendees:
                          - email: attendee@example.com
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        canUpdate: true
                        cancellationPeriod: 0
                        recurrence:
                          rule:
                            frequency: weekly
                            interval: 1
                            from: '2018-01-01'
                            until: '2018-01-22'
                            count: null
                            weekdays: null
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        recurringBookings:
                          links:
                            related: /recurring_bookings/a3281b61ac8df98d29de357180d212e4
                        followingRecurringBookings:
                          links:
                            related: /bookings/a3281b61ac8df98d29de357180d212e4/following
                        resource:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        membership:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: memberships
                        externalBooking:
                          data: null
        '400':
          description: |
            The booking's resource is not bookable.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                      - detail: Resource is not bookable.
      requestBody:
        description: Booking to be created
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-booking'
            examples:
              default:
                value:
                  data:
                    type: bookings
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      units: 1
                      title: team meeting
                      url: https://example.com/team-meeting
                      comments: there is going to be coffe and cake
                      attendeesMessage: Please bring your laptop
                      attendees:
                        - email: attendee@example.com
                      customPrice:
                        net: '12.00'
                    relationships:
                      resource:
                        data:
                          id: 99da6cb66b5e6b39007690854fd66df9
                          type: resources
                      membership:
                        data:
                          id: 89da3cb66b5e6b39007690854kd66da4
                          type: memberships
              recurring:
                value:
                  data:
                    type: bookings
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      units: 1
                      recurrence:
                        rule:
                          frequency: weekly
                          interval: 1
                          until: '2018-01-22'
                          weekdays:
                            - 1
                            - 3
                    relationships:
                      resource:
                        data:
                          id: 99da6cb66b5e6b39007690854fd66df9
                          type: resources
                      membership:
                        data:
                          id: 89da3cb66b5e6b39007690854kd66da4
                          type: memberships
  /recurring_bookings/{recurringId}:
    get:
      summary: List recurring
      description: |
        List all the recurring bookings belonging to a booking with recurrence.

        The data returned by this endpoint is only eventually consistent.

        **Access**: The current user must be an admin or member of the space. If the
        space is part of a network, the user must be an admin or member of any
        space in the network.
      operationId: get-recurring-bookings
      parameters:
        - name: recurringId
          in: path
          required: true
          description: The id of the recurrence.
          schema:
            type: string
      security:
        - OAuth2:
            - read_bookings
      tags:
        - Booking
      responses:
        '200':
          description: All bookings belonging to the same recurrence.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/recurring-bookings'
              examples:
                default:
                  value:
                    data:
                      - id: b8f21a71ac8df98d29de357180d27358
                        type: bookings
                        attributes:
                          from: '2018-01-01T12:00:00Z'
                          to: '2018-01-01T14:00:00Z'
                          title: meeting
                          url: https://example.com/meeting
                          comments: nil
                          attendees: []
                          price:
                            $ref: ../examples/price.yml
                          canUpdate: true
                          units: 1
                          cancellationPeriod: 0
                          recurrence:
                            rule:
                              frequency: weekly
                              interval: 1
                              from: '2018-01-01'
                              until: '2018-01-22'
                              weekdays: null
                              count: null
                        relationships:
                          space:
                            data:
                              id: f9a99a71ac8df98d29de357180d273d3
                              type: spaces
                          resource:
                            data:
                              id: a4a99a71ac8df98d29de357180d273d3
                              type: resources
                          membership:
                            data:
                              id: f11h2a71ac8df98d29de357180d273a3
                              type: memberships
                          recurringBookings:
                            links:
                              related: /recurring_bookings/a3281b61ac8df98d29de357180d212e4
                          followingRecurringBookings:
                            links:
                              related: /bookings/b8f21a71ac8df98d29de357180d27358/following
                          externalBooking:
                            data: null
                    meta:
                      consistent: true
                      totalPages: 1
                      currentPage: 1
  /recurring_bookings/{bookingId}/following:
    delete:
      summary: Delete following
      description: |
        Delete a recurring booking and all the following instances.

        **Access**: The current user must be an admin of the space or the member who made the booking.
      operationId: delete-following-recurring-bookings
      parameters:
        - name: bookingId
          in: path
          required: true
          description: The id of the booking to delete.
          schema:
            type: string
      security:
        - OAuth2:
            - write_bookings
      tags:
        - Booking
      responses:
        '202':
          description: The deleted booking.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: bookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: meeting
                        url: https://example.com/meeting
                        comments: nil
                        attendees: []
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        canUpdate: true
                        cancellationPeriod: 0
                        units: 1
                        recurrence:
                          rule:
                            frequency: weekly
                            interval: 1
                            from: '2018-01-01'
                            until: '2018-01-22'
                            count: null
                            weekdays: null
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        resource:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        membership:
                          data:
                            id: f11h2a71ac8df98d29de357180d273a3
                            type: memberships
                        recurringBookings:
                          links:
                            related: /recurring_bookings/a3281b61ac8df98d29de357180d212e4
                        followingRecurringBookings:
                          links:
                            related: /bookings/b8f21a71ac8df98d29de357180d27358/following
                        externalBooking:
                          data: null
  /bookings_preview:
    post:
      summary: Bookings preview
      description: |
        Return all booking previews for given resources for a membership in the given time range.

        **Access**: The current user must be the owner of the membership the booking belongs to or an admin of the space or network.
      operationId: post-bookings-preview
      requestBody:
        description: The time range and resource ids list.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-bookings-preview'
            examples:
              default:
                value:
                  data:
                    type: bookingPreviews
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                    relationships:
                      booking:
                        data:
                          id: 42ac6cb66b5ebb30007290854fd46ae0
                          type: bookings
                      resources:
                        data:
                          - id: 99da6cb66b5e6b39007690854fd66df9
                            type: resources
                      membership:
                        data:
                          id: 89da3cb66b5e6b39007690854kd66da4
                          type: memberships
              recurring:
                value:
                  data:
                    type: bookingPreviews
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      recurrence:
                        rule:
                          frequency: daily
                          from: '2018-01-01'
                          until: '2018-01-02'
                    relationships:
                      resources:
                        data:
                          - id: 99da6cb66b5e6b39007690854fd66df9
                            type: resources
                      membership:
                        data:
                          id: 89da3cb66b5e6b39007690854kd66da4
                          type: memberships
      security:
        - OAuth2:
            - read_resources
            - read_memberships
      tags:
        - Booking
      responses:
        '200':
          description: Booking previews for given resources for a membership in the given time range.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/booking-previews'
              examples:
                default:
                  value:
                    data:
                      - id: b8f21a71ac8df98d29de357180d27358
                        type: bookingPreviews
                        attributes:
                          from: '2018-01-01T12:00:00Z'
                          to: '2018-01-01T14:00:00Z'
                          appliedDiscounts:
                            - pricePerHour:
                                net: '6.0'
                                gross: '6.6'
                                currency: EUR
                                taxes:
                                  - rate: '10.0'
                                    amount: '0.6'
                                    name: VAT
                              minimumDuration:
                                hours: 1
                                minutes: 0
                          appliedFixedRates:
                            - maximumDuration:
                                hours: 2
                                minutes: 0
                              price: '10.0'
                              count: 2
                          appliedPriceCap:
                            maximumDuration:
                              hours: 2
                              minutes: 0
                          attendees: []
                          title: meeting
                          comments: null
                          price:
                            $ref: ../examples/price.yml
                          estimatedPayablePrice:
                            $ref: ../examples/price.yml
                          canUpdate: true
                          cancellationPeriod: 0
                          bookingExtras: []
                          bookingCredits:
                            estimatedMinutesUsed: 30
                            estimatedAmountUsed:
                              $ref: ../examples/price.yml
                          bookingPasses:
                            estimatedMinutesUsed: 60
                        relationships:
                          space:
                            data:
                              id: f9a99a71ac8df98d29de357180d273d3
                              type: spaces
                          resource:
                            data:
                              id: a4a99a71ac8df98d29de357180d273d3
                              type: resources
                          membership:
                            data:
                              id: b5a99a71ac8df98d2gn8380d273d3
                              type: memberships
                          externalBooking:
                            data: null
                recurring:
                  value:
                    data:
                      - id: b8f21a71ac8df98d29de357180d27358
                        type: bookingPreviews
                        attributes:
                          from: '2018-01-01T12:00:00Z'
                          to: '2018-01-01T14:00:00Z'
                          appliedDiscounts:
                            - pricePerHour:
                                net: '6.0'
                                gross: '6.6'
                                currency: EUR
                                taxes:
                                  - rate: '10.0'
                                    amount: '0.6'
                                    name: VAT
                              minimumDuration:
                                hours: 1
                                minutes: 0
                          appliedFixedRates:
                            - maximumDuration:
                                hours: 2
                                minutes: 0
                              price: '10.0'
                              count: 2
                          appliedPriceCap:
                            maximumDuration:
                              hours: 2
                              minutes: 0
                          attendees: []
                          title: meeting
                          comments: null
                          price:
                            $ref: ../examples/price.yml
                          estimatedPayablePrice:
                            $ref: ../examples/price.yml
                          canUpdate: true
                          cancellationPeriod: 0
                          bookingExtras: []
                          errors: {}
                        relationships:
                          space:
                            data:
                              id: f9a99a71ac8df98d29de357180d273d3
                              type: spaces
                          resource:
                            data:
                              id: a4a99a71ac8df98d29de357180d273d3
                              type: resources
                          membership:
                            data:
                              id: b5a99a71ac8df98d2gn8380d273d3
                              type: memberships
                          externalBooking:
                            data: null
                      - id: cy75b4b9b5y34e656d76phobaf79my9i
                        type: bookingPreviews
                        attributes:
                          from: '2018-01-02T12:00:00Z'
                          to: '2018-01-02T14:00:00Z'
                          appliedDiscounts:
                            - pricePerHour:
                                net: '6.0'
                                gross: '6.6'
                                currency: EUR
                                taxes:
                                  - rate: '10.0'
                                    amount: '0.6'
                                    name: VAT
                              minimumDuration:
                                hours: 1
                                minutes: 0
                          appliedFixedRates:
                            - maximumDuration:
                                hours: 2
                                minutes: 0
                              price: '10.0'
                              count: 2
                          appliedPriceCap:
                            maximumDuration:
                              hours: 2
                              minutes: 0
                          attendees: []
                          title: meeting
                          comments: null
                          price:
                            $ref: ../examples/price.yml
                          estimatedPayablePrice:
                            $ref: ../examples/price.yml
                          canUpdate: true
                          cancellationPeriod: 0
                          bookingExtras: []
                          errors: {}
                        relationships:
                          space:
                            data:
                              id: f9a99a71ac8df98d29de357180d273d3
                              type: spaces
                          resource:
                            data:
                              id: a4a99a71ac8df98d29de357180d273d3
                              type: resources
                          membership:
                            data:
                              id: b5a99a71ac8df98d2gn8380d273d3
                              type: memberships
                          externalBooking:
                            data: null
                    meta:
                      totalBookings: 2
                      totalPrice: '120.00'
  /bookings/{id}:
    delete:
      summary: Delete booking
      description: |
        **Access**: The current user must either be an admin or a member of a space or the space's network. A member can only delete their own bookings and additionally only those that are not in the past.
      operationId: delete-space-booking
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the booking to be deleted.
          schema:
            type: string
      security:
        - OAuth2:
            - write_bookings
      tags:
        - Booking
      responses:
        '204':
          description: Booking deleted.
        '409':
          description: Booking has been made by an event and can't be deleted through this endpoint.
    get:
      summary: Single booking
      description: |
        **Access**: The current user must be an admin or member of the space
        the booking belongs to. If the
        space is part of a network, the user must be an admin or member of any
        space in the network.
      operationId: get-booking
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the booking.
          schema:
            type: string
      security:
        - OAuth2:
            - read_bookings
      tags:
        - Booking
      responses:
        '200':
          description: Details of a booking.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: bookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        units: 1
                        title: meeting
                        url: https://example.com/meeting
                        name: joe
                        comments: nil
                        attendeesMessage: null
                        attendees:
                          - email: attendee@example.com
                        hasCustomPrice: false
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        canUpdate: true
                        cancellationPeriod: 0
                        bookingCredits:
                          estimatedMinutesUsed: 30
                        bookingPasses:
                          estimatedMinutesUsed: 60
                        estimatedPayablePrice:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        bookingExtras:
                          - name: Cup of coffee
                            accountingCode: coffee1
                            description: Hot
                            id: extra-uuid-1234
                            productId: a1b2c3d4e5f6
                            pricing:
                              amount:
                                net: '1.0'
                                gross: '1.1'
                                currency: EUR
                                taxes:
                                  - rate: '10.0'
                                    amount: '0.1'
                                    name: VAT
                              totalAmount:
                                net: '2.0'
                                gross: '2.2'
                                currency: EUR
                                taxes:
                                  - rate: '10.0'
                                    amount: '0.2'
                                    name: VAT
                              quantity: '2.0'
                              unit: item
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        resource:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        externalBooking:
                          data: null
    patch:
      summary: Update booking
      description: |
        **Access**: The current user must either be an admin or a member of a space or the space's network. A member can only update their own bookings and additionally only those that are not in the past.
      operationId: update-space-booking
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the booking to be updated.
          schema:
            type: string
      security:
        - OAuth2:
            - write_bookings
      tags:
        - Booking
      requestBody:
        description: Booking to be updated
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update-booking'
            examples:
              default:
                value:
                  data:
                    id: b8f21a71ac8df98d29de357180d27358
                    type: bookings
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      units: 1
                      title: team meeting
                      url: https://example.com/team-meeting
                      comments: there is going to be coffe and cake
                      attendeesMessage: Please bring your laptop
                      attendees:
                        - email: attendee@example.com
                      updateFollowing: true
      responses:
        '200':
          description: Details of the updated booking.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/booking'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: bookings
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        units: 1
                        name: joe
                        title: team meeting
                        url: https://example.com/team-meeting
                        comments: there is going to be coffe and cake
                        attendeesMessage: Please bring your laptop
                        attendees:
                          - email: attendee@example.com
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        estimatedPayablePrice:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        canUpdate: true
                        cancellationPeriod: 0
                        bookingExtras: []
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        resource:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        membership:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: memberships
                        externalBooking:
                          data: null
        '400':
          description: |
            The booking's resource is not bookable.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                      - detail: Resource is not bookable.
        '409':
          description: Booking has been made by an event and can't be changed through this endpoint.
  /calendar_blockers/{id}:
    get:
      summary: Show calendar blocker
      description: |
        Show a single calendar blocker.

        **Access**: Any user can read any space's calendar blockers.
      operationId: get-calendar-blocker
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the calendar blocker.
          schema:
            type: string
      security:
        - OAuth2:
            - read_calendar_blockers
      tags:
        - Calendar Blocker
      responses:
        '200':
          description: A calendar blocker.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/calendar-blocker'
              examples:
                default:
                  value:
                    data:
                      id: 698977f1-bd4b-5dd3-b225-dcad32a88b3a
                      type: calendarBlockers
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: blocked
                        blockedFor:
                          - bookings
                          - externalBookings
                          - dropInPasses
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        resources:
                          data:
                            - id: a4a99a71ac8df98d29de357180d273d3
                              type: resources
  /allocations/{id}:
    get:
      summary: Show allocation
      description: |
        Show a single resource allocation.

        **Access**: The current user must be an admin of the space the allocation belongs to.
      operationId: get-allocation
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the allocation.
          schema:
            type: string
      security:
        - OAuth2:
            - read_allocations
      tags:
        - Allocation
      responses:
        '200':
          description: An allocation.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/allocation'
              examples:
                default:
                  value:
                    data:
                      id: a8f21a71ac8df98d29de357180d27358
                      type: allocations
                      attributes:
                        startsAt: '2018-01-01'
                        canceledTo: '2018-12-31'
                        cycleDuration: 1
                        minimumCommitment: 0
                        recurringMinimumCommitment: false
                        cancellationPeriod: 30
                        pricePerCycle:
                          $ref: ../examples/price.yml
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        resource:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: resources
                        allocatee:
                          data:
                            id: f11h2a71ac8df98d29de357180d273a3
                            type: memberships
  /check_ins:
    post:
      summary: Check membership in
      description: |
        Checks a membership in at a space, after validating that checking in is
        possible (enough time passes, time restrictions). Potentially uses a time pass.

        If the space is part of a network, the membership can be checked in to any space
        of the network.

        **Access**: The current user must be an admin of the space the membership belongs to.
      operationId: create-check-in
      security:
        - OAuth2:
            - write_check_ins
      tags:
        - Check-in
      responses:
        '201':
          description: Checked in successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/check-in'
              examples:
                default:
                  value:
                    data:
                      id: 12a8fa71ac8df98d29de357180d274d8
                      type: checkIns
                      attributes:
                        validFrom: '2018-01-01T12:45:00Z'
                        validUntil: '2018-01-01T18:00:00Z'
                      relationships:
                        space:
                          data:
                            id: 99da6cb66b5e6b39007690854fd66df9
                            type: spaces
                        membership:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: memberships
        '422':
          description: Checking in failed because a condition was not met.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                      - detail: No time passes left.
                        source:
                          pointer: /data/attributes/base
      requestBody:
        description: Data required to check in.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-check-in'
            examples:
              default:
                value:
                  data:
                    type: checkIns
                    attributes:
                      checkInToken: '12345'
                    relationships:
                      space:
                        data:
                          id: 99da6cb66b5e6b39007690854fd66df9
                          type: spaces
  /check_ins/{id}/check_out:
    put:
      summary: Check membership out
      description: |
        Checks a membership (that is currently checked in at a space) out.

        If the space is part of a network, the membership can be checked out of any space
        of the network.

        **Access**: The current user must be an admin of the space the membership belongs to.
      operationId: create-check-out
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the check-in to update.
          schema:
            type: string
      security:
        - OAuth2:
            - write_check_ins
      tags:
        - Check-in
      responses:
        '200':
          description: Checked out successfully. `validUntil` is updated.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/check-in'
              examples:
                default:
                  value:
                    data:
                      id: 12a8fa71ac8df98d29de357180d274d8
                      type: checkIns
                      attributes:
                        validFrom: '2018-01-01T12:45:00Z'
                        validUntil: '2018-01-01T17:00:00Z'
                      relationships:
                        space:
                          data:
                            id: 99da6cb66b5e6b39007690854fd66df9
                            type: spaces
                        membership:
                          data:
                            id: 89da3cb66b5e6b39007690854kd66da4
                            type: memberships
  /contacts/{id}:
    get:
      summary: Single contact
      description: |
        Show a single contact.

        **Access**: The current user must be an admin of the space
      operationId: get-contact
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the contact.
          schema:
            type: string
      security:
        - OAuth2:
            - read_contacts
      tags:
        - Contact
      responses:
        '200':
          description: Details of a contact.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contact'
              examples:
                default:
                  value:
                    data:
                      id: 24c12f62ac8df98d29de357180d673e1
                      type: contacts
                      attributes:
                        email: jane@example.com
                        phone: 555-55-355
                        address:
                          name: Jane Smitherson
                          company: ACME Inc.
                          fullAddress: 3 Coworking Road
                        photo:
                          thumb:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/thumb_photo.png
                            width: 50
                            height: 50
                          small:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/small_photo.png
                            width: 120
                            height: 120
                          large:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/large_photo.png
                            width: 285
                            height: 285
                          xlarge:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/xlarge_photo.png
                            width: 600
                            height: 600
                          hd:
                            url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/hd_photo.png
                            width: 1200
                            height: 1200
                      relationships:
                        space:
                          data:
                            id: c9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        membership:
                          data:
                            id: e0c19a71ac8df98d29de357180d27339
                            type: memberships
  /customers:
    post:
      summary: Create
      description: |
        Convert a trial space to a customer.
        The space must have valid billing details and payment method.
      operationId: create-customers
      security:
        - OAuth2:
            - write_customers
      tags:
        - Customer
      responses:
        '201':
          description: New customer
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customer'
              examples:
                default:
                  value:
                    data:
                      id: 946f4742-9241-5b4e-9f98-9b64ad87f0a2
                      type: customers
                      attributes:
                        since: '2023-04-28'
                      relationships:
                        space:
                          data:
                            id: 83bc2926-c1fd-5235-bca1-417bc7a053e3
                            type: spaces
        '400':
          description: Missing billing details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                      - detail: Space is missing billing details.
      requestBody:
        description: The space to convert.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-customer'
            examples:
              default:
                value:
                  data:
                    type: customers
                    relationships:
                      space:
                        data:
                          id: 83bc2926-c1fd-5235-bca1-417bc7a053e3
                          type: spaces
  /drop_in_pass_purchases:
    post:
      summary: Create
      description: |
        Create a drop-in pass purchase.

        **Access**: Any user can create a drop-in pass purchase.
      operationId: create-drop-in-pass-purchase
      security:
        - OAuth2:
            - write_drop_in_pass_purchases
      tags:
        - Drop-In Pass Purchase
      responses:
        '201':
          description: The created drop-in pass purchase.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/drop-in-pass-purchase'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: dropInPassPurchases
                      attributes:
                        acceptedTerms: true
                        comments: Looking forward to seeing your space!
                        name: Earl McBride
                        company: ACME Inc.
                        email: hello@example.com
                        phone: (959) 645-9532
                        taxId: 12345678A
                        billingAddress: 1422 Nuede Extension
                        structuredBillingAddress:
                          name: Earl McBride
                          company: ACME Inc.
                          fullAddress: 1422 Nuede Extension
                          street: null
                          postCode: null
                          city: null
                          state: null
                          countryCode: null
                        price:
                          net: '986.0'
                          gross: '1089.53'
                          currency: EUR
                          taxes:
                            - name: Main Tax
                              rate: '10.5'
                              amount: '103.53'
                      relationships:
                        dropInPasses:
                          data:
                            - id: b8f21a71ac8df98d29de357180d27358
                              type: dropInPasses
                        paymentMethod:
                          data:
                            id: 25fc37c06c4a183ea17ada5306725705
                            type: paymentMethods
                        invoices:
                          data:
                            - id: a07fed27-b35b-5c67-8367-3e52c397c528
                              type: invoices
                        space:
                          data:
                            id: 99a12ca68b5e6bc9007890854kd368f2
                            type: spaces
        '422':
          description: |
            When sending a payment and capturing the payment fails, an error is returned.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                      - detail: Payment could not be captured.
      requestBody:
        description: Data needed to create a drop-in pass purchase.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-drop-in-pass-purchase'
            examples:
              default:
                value:
                  data:
                    type: dropInPassPurchases
                    attributes:
                      dropInPasses:
                        - type: dropInPasses
                          attributes:
                            validOn: '2018-01-01'
                            numberOfPasses: 1
                          relationships:
                            dropInPassTemplate:
                              data:
                                id: aeb19e5a78cc64be5056f6ef9a44f7d5
                                type: dropInPassTemplates
                      acceptedTerms: true
                      name: Earl McBride
                      company: ACME Inc
                      billingAddress: 1422 Nuede Extension
                      phone: (959) 645-9532
                      taxId: 123456789A
                      email: fe@haos.eg
                      comments: we need catering
                    relationships:
                      payment:
                        data:
                          id: jd73gf5a78cc64be5056f6ef9a44fuzt
                          type: payments
  /drop_in_pass_templates/{id}:
    get:
      summary: Get a template
      description: |
        Get a single drop-in pass template.
        These represent the drop-in passes a space offers to visitors.

        **Access**: Any user can access any space's drop-in pass templates.
      operationId: get-drop-in-pass-template
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the template.
          schema:
            type: string
      security:
        - OAuth2:
            - read_drop_in_pass_templates
      tags:
        - Drop-In Pass Template
      responses:
        '200':
          description: Details of a drop-in pass template.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/drop-in-pass-template'
              examples:
                default:
                  value:
                    data:
                      id: bc302cc2-f3f6-563e-8c09-37fcae5088b8
                      type: dropInPassTemplates
                      attributes:
                        name: Day pass
                        description: Valid for one day
                        onboardingInstructions: Come in and pick any free desk.
                        price:
                          net: '89.0'
                          gross: '98.35'
                          currency: EUR
                          taxes:
                            - name: VAT
                              rate: '10.5'
                              amount: '9.35'
                        timeAvailability:
                          - from: '01:00'
                            to: '05:00'
                            weekdays:
                              - 1
                              - 2
                              - 5
                        photo:
                          icon:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/resource/photo/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        color: '#ff0000'
                      relationships:
                        availability:
                          links:
                            related: https://api.cobot.me/drop_in_pass_templates/bc302cc2-f3f6-563e-8c09-37fcae5088b8/availability
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
  /drop_in_pass_templates/{id}/availability:
    get:
      summary: Get the availability of a template
      description: |
        Get the dates a drop-in pass template is available for purchase. Considers time availability of the template, max daily purchases, and calendar blockers.

        **Access**: Any user can access any space's drop-in pass templates.
      operationId: get-drop-in-pass-template-availability
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the template.
          schema:
            type: string
        - name: filter[from]
          in: query
          required: true
          description: The date from when on to return the availability. Must not be in the past and not be more than 2 months before the to date.
          schema:
            type: string
            format: date
        - name: filter[to]
          in: query
          required: true
          description: The date until when to return the availability. Must not be more than 2 months after the from date.
          schema:
            type: string
            format: date
      security:
        - OAuth2:
            - read_drop_in_pass_templates
      tags:
        - Drop-In Pass Template
      responses:
        '200':
          description: Dates a drop-in pass template is available for purchases.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/drop-in-pass-template-availability'
              examples:
                default:
                  value:
                    data:
                      id: bc302cc2-f3f6-563e-8c09-37fcae5088b8
                      type: dropInPassTemplateAvailabilities
                      attributes:
                        availableDates:
                          - from: '2025-01-01'
                            to: '2025-01-02'
                            numberOfPasses: 2
                          - from: '2025-01-05'
                            to: '2025-01-10'
                            numberOfPasses: 1
                      relationships:
                        dropInPassTemplate:
                          data:
                            id: bc302cc2-f3f6-563e-8c09-37fcae5088b8
                            type: dropInPassTemplates
  /drop_in_passes/{id}:
    get:
      summary: Get a single pass
      description: |
        Get a single drop-in pass.
        These represent a drop-in pass a person bought from a space.

        **Access**: The current user must be an admin of the space.
      operationId: get-drop-in-pass
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the pass.
          schema:
            type: string
      security:
        - OAuth2:
            - read_drop_in_passes
      tags:
        - Drop-In Pass
      responses:
        '200':
          description: Details of a drop-in pass.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/drop-in-pass'
              examples:
                default:
                  value:
                    data:
                      id: bc302cc2-f3f6-563e-8c09-37fcae5088b8
                      type: dropInPasses
                      attributes:
                        name: Day Pass
                        validOn: '2019-01-01'
                        onboardingInstructions: Come in and pick any free desk.
                        email: diwihru@cod.bh
                        phone: (219) 840-5295
                        taxId: 12345678A
                        price:
                          net: '89.0'
                          gross: '98.35'
                          currency: EUR
                          taxes:
                            - name: VAT
                              rate: '10.5'
                              amount: '9.35'
                        timeAvailability:
                          - from: '01:00'
                            to: '05:00'
                            weekdays:
                              - 1
                              - 2
                              - 5
                        comments: Looking forward to my visit!
                        status: confirmed
                        billingAddress:
                          name: Lucinda Moody
                          company: Moody Inc.
                          fullAddress: 1690 Belwog Street
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        dropInPassTemplate:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: dropInPassTemplates
                        contact:
                          data:
                            id: 23c37a61ac8df98d29de357180d273d3
                            type: contacts
                        invoices:
                          data:
                            - id: fjwn437783tj98d29de357180d27hjk
                              type: invoices
                        dropInPassPurchase:
                          data:
                            id: b4d2ab8822fced7625f14918d18be64a
                            type: dropInPassPurchases
  /drop_in_passes/{id}/cancellation:
    post:
      summary: Cancel a drop-in pass
      description: |
        Cancel a drop-in pass. The pass must not already be canceled.

        **Access**: The current user must be an admin of the space.
      operationId: drop-in-pass-cancellation
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the drop-in pass.
          schema:
            type: string
      security:
        - OAuth2:
            - write_drop_in_passes
      tags:
        - Drop-In Pass
      responses:
        '200':
          description: The drop-in pass has been canceled.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/drop-in-pass'
              examples:
                default:
                  value:
                    data:
                      id: bc302cc2-f3f6-563e-8c09-37fcae5088b8
                      type: dropInPasses
                      attributes:
                        name: Day Pass
                        validOn: '2019-01-01'
                        onboardingInstructions: Come in and pick any free desk.
                        email: visitor@example.com
                        phone: (219) 840-5295
                        taxId: 12345678A
                        price:
                          net: '89.0'
                          gross: '98.35'
                          currency: EUR
                          taxes:
                            - name: VAT
                              rate: '10.5'
                              amount: '9.35'
                        timeAvailability:
                          - from: '01:00'
                            to: '05:00'
                            weekdays:
                              - 1
                              - 2
                              - 5
                        comments: Looking forward to my visit!
                        status: canceled
                        billingAddress:
                          name: Lucinda Moody
                          company: Moody Inc.
                          fullAddress: 1690 Belwog Street
                      relationships:
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
                        dropInPassTemplate:
                          data:
                            id: a4a99a71ac8df98d29de357180d273d3
                            type: dropInPassTemplates
                        contact:
                          data:
                            id: 23c37a61ac8df98d29de357180d273d3
                            type: contacts
                        invoices:
                          data:
                            - id: fjwn437783tj98d29de357180d27hjk
                              type: invoices
                        dropInPassPurchase:
                          data:
                            id: b4d2ab8822fced7625f14918d18be64a
                            type: dropInPassPurchases
        '409':
          description: The drop-in pass is already canceled.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                already_canceled:
                  value:
                    errors:
                      - detail: This drop-in pass is already canceled.
  /events:
    post:
      summary: Create event
      description: |
        Create events as an admin. To become visible to members, events
        have to be published after being created.
        Events can be associated with resources, in which cases the
        resources will be booked for the duration of the event.
        **Access**: The current user must be an admin of the space.
      operationId: create-admin-event
      security:
        - OAuth2:
            - write_events
            - write_bookings
      tags:
        - Event
      responses:
        '201':
          description: New event
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        visitorPrice: null
                        expectedRevenue:
                          - net: '10.0'
                            gross: '12.0'
                            currency: EUR
                            taxes:
                              - rate: '20.0'
                                name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                          - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                            - id: 419cabc7547473ea91762671f4641701
                              type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                            - id: a4a99a71ac8df98d29de357180d273d3
                              type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
      requestBody:
        description: Event to be created for a space.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-event'
            examples:
              default:
                value:
                  data:
                    type: events
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      title: launch party
                      price:
                        net: '10.0'
                        currency: EUR
                      accountingCode: EVT
                      costCenter:
                        name: Events
                        number: 2018-1
                      visitorCostCenter:
                        name: Visitor Events
                        number: 2018-1
                      revenueAccount:
                        name: Events
                        number: '4000'
                      visitorRevenueAccount:
                        name: Visitor Events
                        number: '4001'
                      audience: membersOnly
                      image:
                        data: data:image/png;base64,...
                      description: We are relaunching our coworking space!
                      location: Lobby
                      tags:
                        - party
                      videoUrl: null
                      capacity: 85
                    relationships:
                      space:
                        data:
                          id: 99da6cb66b5e6b39007690854fd66df9
                          type: spaces
                      resources:
                        data:
                          - id: 89da3cb66b5e6b39007690854kd66da4
                            type: resources
                            meta:
                              units: 3
  /events/{id}:
    get:
      summary: Single event
      description: |
        Show a single event.

        **Access**: The current user must either be an admin or a member of a space or the space's network unless the event is public.
        Including `attendances` or `attendances.attendee` requires the current user to be an admin or member of the space or the space's network.
      operationId: get-event
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the event.
          schema:
            type: string
        - name: include
          in: query
          required: false
          description: |
            List of related resources to include in response as comma separated string.

            Including `attendances.attendee` will also return `attendances`.
            A maximum of 5 attendances per event is returned. If the current user is attending,
            their attendance will be included in the 5. The full count is returned in the meta section.

            Including `attendances` requires the `read_event_attendances` scope.
            Including `attendances.attendee` requires the `read_event_attendances`, `read_memberships` and `read_contacts` scopes.
          schema:
            type: array
            items:
              type: string
              enum:
                - attendances
                - attendances.attendee
      security:
        - OAuth2:
            - read_events
      tags:
        - Event
      responses:
        '200':
          description: A single event
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        visitorPrice: null
                        expectedRevenue:
                          - net: '10.0'
                            gross: '12.0'
                            currency: EUR
                            taxes:
                              - rate: '20.0'
                                name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                          - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                            - id: 419cabc7547473ea91762671f4641701
                              type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                            - id: a4a99a71ac8df98d29de357180d273d3
                              type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
    patch:
      summary: Update event
      description: |
        Update the details of an event. Note that the `publishedStatus` attribute can only be
        changed via the publish/depublish endpoints.

        **Access**: The current user must be an admin of the space the event belongs to.
      operationId: update-event
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the event.
          schema:
            type: string
      security:
        - OAuth2:
            - write_events
      tags:
        - Event
      responses:
        '200':
          description: The updated event.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event'
              examples:
                default:
                  value:
                    data:
                      id: b8f21a71ac8df98d29de357180d27358
                      type: events
                      attributes:
                        from: '2018-01-01T12:00:00Z'
                        to: '2018-01-01T14:00:00Z'
                        title: launch party
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - rate: '20.0'
                              name: Tax
                        visitorPrice: null
                        expectedRevenue:
                          - net: '10.0'
                            gross: '12.0'
                            currency: EUR
                            taxes:
                              - rate: '20.0'
                                name: Tax
                        audience: membersOnly
                        color: '#FF0000'
                        accountingCode: EVT
                        visitorAccountingCode: null
                        costCenter:
                          name: Events Revenue
                          number: E17
                        revenueAccount:
                          name: Events Revenue
                          number: '4000'
                        visitorCostCenter: null
                        visitorRevenueAccount: null
                        image:
                          icon:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/icon_photo.png
                            width: 120
                            height: 120
                          default:
                            url: https://cdn.com/event/image/a4a99a71ac8df98d29de357180d273d3/default_photo.png
                            width: 800
                            height: 600
                        description: We are relaunching our coworking space!
                        location: Lobby
                        tags:
                          - party
                        videoUrl: null
                        capacity: 85
                        publishedState: draft
                        publicPage: false
                        publicUrl: null
                        canDepublish: false
                      relationships:
                        attendances:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/attendances
                        bookings:
                          data:
                            - id: 419cabc7547473ea91762671f4641701
                              type: bookings
                        messages:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/messages
                        publication:
                          links:
                            related: https://api.cobot.me/events/b8f21a71ac8df98d29de357180d27358/publication
                        resources:
                          data:
                            - id: a4a99a71ac8df98d29de357180d273d3
                              type: resources
                        space:
                          data:
                            id: f9a99a71ac8df98d29de357180d273d3
                            type: spaces
      requestBody:
        description: Event to be updated.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update-event'
            examples:
              default:
                value:
                  data:
                    id: b8f21a71ac8df98d29de357180d27358
                    type: events
                    attributes:
                      from: '2018-01-01T12:00:00Z'
                      to: '2018-01-01T14:00:00Z'
                      title: launch party
                      price:
                        net: '10.0'
                        currency: EUR
                      audience: membersOnly
                      accountingCode: EVT
                      costCenter:
                        name: Events
                        number: 2018-1
                      visitorCostCenter:
                        name: Visitor Events
                        number: 2018-1
                      revenueAccount:
                        name: Events
                        number: '4000'
                      visitorRevenueAccount:
                        name: Visitor Events
                        number: '4001'
                      image:
                        data: data:image/png;base64,...
                      description: We are relaunching our coworking space!
                      location: Lobby
                      tags:
                        - party
                      videoUrl: null
                      capacity: 85
                    relationships:
                      resources:
                        data:
                          - id: 89da3cb66b5e6b39007690854kd66da4
                            type: resources
                            meta:
                              units: all
    delete:
      summary: Delete event
      description: |
        Deleting an event will notify all attendees and refund their tickets if applicable.
        **Access**: The current user must be an admin of the space the event belongs to.
      operationId: delete-event
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the event.
          schema:
            type: string
      security:
        - OAuth2:
            - write_events
      tags:
        - Event
      responses:
        '204':
          description: Empty response
  /event_attendances:
    post:
      summary: Attend event
      description: |
        Attend an event as member. Automatically creates a `Charge`
        on the membership if the event has a price.

        **Access**: The current user must be a member of the space.
      operationId: attend-event
      security:
        - OAuth2:
            - write_event_attendances
      tags:
        - Event
      requestBody:
        description: The membership that wants to attend and the event to attend.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/create-event-attendance'
            examples:
              default:
                value:
                  data:
                    type: eventAttendances
                    attributes:
                      visibility: public
                    relationships:
                      event:
                        data:
                          id: b8f21a71ac8df98d29de357180d27358
                          type: events
                      attendee:
                        data:
                          id: 99da6cb66b5e6b39007690854fd66df9
                          type: memberships
      responses:
        '201':
          description: Attendance
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-attendance'
              examples:
                default:
                  value:
                    data:
                      id: 3130b02817a5aab19255fb8f2c9d1ee3
                      type: eventAttendances
                      attributes:
                        createdAt: '2024-10-27T11:48:24+01:00'
                        numberOfAttendees: 1
                        name: Earl McBride
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - amount: '2.0'
                              name: VAT
                              rate: '20.0'
                        accountingCode: EVT
                        visibility: public
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
                        attendee:
                          data:
                            id: a8c12f62ac8df98d29de357180d673e1
                            type: memberships
        '409':
          description: In case the member is already attending or the event capacity is reached.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/failure'
              examples:
                default:
                  value:
                    errors:
                      - detail: Already attending event.
                        source:
                          pointer: /data/relationships/attendee
  /event_attendances/{id}:
    get:
      summary: Single event attendance
      description: |
        Get details of a single event attendance.

        **Access**: The current user must be an admin of the space the event belongs to,
        or the event attendee, or a member of the space if the attendance visibility is 'members',
        or anyone if the attendance has 'public' visibility.
      operationId: get-event-attendance
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the event attendance to get.
          schema:
            type: string
        - name: include
          in: query
          style: form
          explode: false
          required: false
          description: Include attendee. Requires `read_memberships` and `read_contacts` scope.
          schema:
            type: array
            items:
              type: string
              enum:
                - attendee
      security:
        - OAuth2:
            - read_event_attendances
      tags:
        - Event
      responses:
        '200':
          description: The event attendance.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/event-attendance'
              examples:
                default:
                  value:
                    data:
                      id: 3130b02817a5aab19255fb8f2c9d1ee3
                      type: eventAttendances
                      attributes:
                        accountingCode: EVT
                        price:
                          net: '10.0'
                          gross: '12.0'
                          currency: EUR
                          taxes:
                            - amount: '2.0'
                              name: VAT
                              rate: '20.0'
                        visibility: public
                        numberOfAttendees: 1
                        name: Earl McBride
                        createdAt: '2024-10-27T11:48:24+01:00'
                      relationships:
                        event:
                          data:
                            id: b8f21a71ac8df98d29de357180d27358
                            type: events
                        attendee:
                          data:
                            id: a8c12f62ac8df98d29de357180d673e1
                            type: memberships
                    included:
                      - id: a8c12f62ac8df98d29de357180d673e1
                        type: memberships
                        attributes:
                          name: Jane Fonda
                          email: foksol@di.es
                          phone: (746) 760-3432
                          company: null
                          confirmedAt: '2020-02-01'
                          canceledAt: null
                          photo:
                            thumb:
                              url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/thumb_photo.png
                              width: 50
                              height: 50
                            small:
                              url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/small_photo.png
                              width: 120
                              height: 120
                            large:
                              url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/large_photo.png
                              width: 285
                              height: 285
                            xlarge:
                              url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/xlarge_photo.png
                              width: 600
                              height: 600
                            hd:
                              url: https://cdn.com/24a99a71ac8df98d29de357180d273d3/hd_photo.png
                              width: 1200
                              height: 1200
                        relationships:
                          space:
                            data:
                              id: c9a99a71ac8df98d29de357180d273d3
                              type: spaces
                          team:
                            data:
                              id: 4db23e1a-62a6-5115-8034-fc18b13bffac
                              type: teams
    delete:
      summary: Unattend event
      description: |
        Unattend an event as member. This refunds the ticket price
        if applicable.

        **Access**: The current user must be connected to the
        membership the attendance belongs to.
      operationId: unattend-event
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the event attendance to delete.
          schema:
            type: string
      security:
        - OAuth2:
            - write_event_attendances
      tags:
        - Event
[...]
